<section id="solutions" class="section__complate">
  <div class="container">
    <div class="section__titlecont left">
      <h2>What Makes Overchain the Top Choice for Yachting</h2>
    </div>
    <div class="complate__content">
      <ul class="complate__list">
        <li>
          <h4>Access to High-Value Transactions</h4>
          <p>
            Our Over-the-Counter (OTC) services are designed for high-value
            transactions (e.g., $2.5 million and above), allowing you to manage
            large payments securely and effectively, reducing risks like
            slippage.
          </p>
        </li>
        <li>
          <h4>Stay Ahead in an Old-School Industry</h4>
          <p>
            With many yachting companies hesitant to adopt crypto, using Overchain gives you a competitive edge, demonstrating innovation and flexibility that can attract discerning clients.
          </p>
        </li>
        <li>
          <h4>Tap into the Growing Crypto Market</h4>
          <p>
            By offering crypto payment options, you can attract clients who prefer to transact in digital currencies, meeting the demands of a new generation of buyers and charterers.
          </p>
        </li>
        <li>
          <h4>Lower Costs, Higher Profits</h4>
          <p>
            Reduce transaction fees, allowing you to keep more of your profits compared to the traditional credit card fees of 3.5-4%. This cost efficiency can make a significant difference in high-value yacht transactions.
          </p>
        </li>
      </ul>
      <div class="complate__decor solution">
        <img src="/img/content/compsol_3.png" class="contain" alt="" />
      </div>
    </div>
  </div>
</section>
