<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>
        All-in-One Crypto Processing <br />System Tailored to Forex Brokers
      </h2>
    </div>
    <ul class="double__list hovering">
      <li class="double__item">
        <h3>Transaction Speed</h3>
        <div class="double__desc">
          <p>
            Relish competitive fees, much lower than traditional credit card
            rates. This means you can maximise your revenue while providing
            flexible payment options for your customers.
          </p>
        </div>
        <img src="./img/content/double_7.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Reducing Transaction Fees</h3>
        <div class="double__desc">
          <p>
            Relish competitive fees, much lower than traditional credit card
            rates. This means you can maximise your revenue while providing
            flexible payment options for your customers.
          </p>
        </div>
        <img src="./img/content/double_8.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Enabling Cross-Border Transactions</h3>
        <div class="double__desc">
          <p>
            Relish competitive fees, much lower than traditional credit card
            rates. This means you can maximise your revenue while providing
            flexible payment options for your customers.
          </p>
        </div>
        <img src="./img/content/double_9.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Enhancing Security <br />and Compliance</h3>
        <div class="double__desc">
          <p>
            Relish competitive fees, much lower than traditional credit card
            rates. This means you can maximise your revenue while providing
            flexible payment options for your customers.
          </p>
        </div>
        <img src="./img/content/double_10.png" alt="" />
      </li>
    </ul>
  </div>
</section>
