<section class="section__expert fullBg">
  <div class="container">
    <div class="expert__container">
      <div class="expert__content longer">
        <h2>Need Help Navigating Crypto Payments in the Yachting Industry?</h2>
        <a href="#contact" class="button full expert__button ankor">
          Book a Free Consultation
        </a>
      </div>
    </div>
  </div>
  <div class="expert__bg">
    <img src="./img/backgrounds/expert_3.jpg" class="cover" alt="" />
    <img src="./img/backgrounds/expert_3mob.jpg" class="cover mob" alt="" />
  </div>
</section>
