<section class="section__first">
  <div class="container">
    <div class="first__content full">
      <h1>Sail into Secure Payments for Your High-Net-Worth Clients</h1>
      <div class="first__desc">
        <p>
          We are simplifying crypto payments for yacht owners, brokers, and
          clients worldwide. With fast, secure transactions, auto-conversion,
          and competitive fees, managing payments has never been easier. Enjoy
          tailored invoicing, enhanced security, and access to a global network
          in the best yachting spots.
        </p>
      </div>
      <a href="#" class="button full"> Book a Demo </a>
    </div>
  </div>
  <div class="sircle__fs"></div>
  <div class="first__imgcont">
    <img src="./img/content/firstsol_4.jpg" alt="" class="cover" />
  </div>
</section>
