<section id="benefits" class="section__manage decoration">
  <div class="container">
    <div class="section__titlecont">
      <h2>Advanced Management & Reporting for CFD Trading Platforms</h2>
    </div>
    <ul class="manage__list smaller duble">
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_7.svg" class="contain" alt="" />
        </div>
        <h4>Multi-access</h4>
        <p>
          Leverage secure multi-user profiles, access control, and flexible permissions.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_1.svg" class="contain" alt="" />
        </div>
        <h4>Balance Reporting</h4>
        <p>
          Access real-time and historical data for insights into your assets, balances and transactions.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_15.svg" class="contain" alt="" />
        </div>
        <h4>Transaction Reporting</h4>
        <p>
          Gain a clear overview of your finances with our convenient filtering and detailed reporting.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_3.svg" class="contain" alt="" />
        </div>
        <h4>Seamless Exchange</h4>
        <p>
          Swap both fiat and cryptocurrencies seamlessly via the Overchain dashboard.
        </p>
      </li>
    </ul>
    <div class="section__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
