<section id="solutions" class="section__complate">
  <div class="container">
    <div class="section__titlecont left">
      <div class="uppertitle">Integrated with another PSP? </div>
      <h2>Try Overchain to Streamline <br>Your Business Payments </h2>
    </div>
    <div class="complate__content">
      <ul class="complate__list">
        <li>
          <h4>Lowest Fees on the Market</h4>
          <p>
            Overchain offers the most competitive fees, starting at just 0.2%. Choose cost-effective payment processing with transparent pricing structure without sacrificing quality or reliability
          </p>
        </li>
        <li>
          <h4>Handle Large Transaction Volumes</h4>
          <p>
            Overchain's cutting-edge technology enables a 99.999% uptime, ensuring rapid and precise processing of large transaction volumes for CFD platforms
          </p>
        </li>
        <li>
          <h4>Advanced Security</h4>
          <p>
            Our security measures safeguard all transactions and data against fraud, cyber threats, unauthorised access, and compromised tokens. This ensures that CFD trading platforms can facilitate transactions safely
          </p>
        </li>
        <li>
          <h4>Fiat Settlement</h4>
          <p>
            Experience same-day fund transfers to your bank accounts through Overchain's lightning-fast payment processing services, covering all major currencies like USD, EUR, GBP, and beyond
          </p>
        </li>
        <li>
          <h4>24/7 Client Support</h4>
          <p>
            With us, you won't be waiting hours for a reply. Reach out to our support team directly, and get help within minutes.
          </p>
        </li>
      </ul>
      <a href="#contact" class="button full complate__button ankor"
        >Book a Demo</a
      >
      <div class="complate__decor solution withBtn">
        <img src="/img/content/compsol_1.png" class="contain" alt="" />
      </div>
    </div>
  </div>
</section>
