<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>Expand Your CFD Trading Business <br>with Crypto Payments</h2>
    </div>
    <div class="double__car splide simplePager">
      <div class="splide__track">
        <ul class="double__list type2 double__list">
          <li class="double__item splide__slide">
            <h3>Global Acceptance</h3>
            <p>
              CFD brokers can effortlessly process crypto payments from traders globally.
            </p>
            <img src="./img/content/double_3.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>Instant Processing</h3>
            <p>
              Platform balances are instantly updated upon receipt of payment, ensuring a seamless trading experience.
            </p>
            <img src="./img/content/double_4.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>Zero Administrative Costs</h3>
            <p>
              Automated deposits and withdrawals reduce manual work and admin costs for your CFD trading business.
            </p>
            <img src="./img/content/double_5.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>Regulatory Compliance</h3>
            <p>
              Our detailed and robust reporting tools ensure your business remains compliant with global financial regulations.
            </p>
            <img src="./img/content/double_6.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
