<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>
        Streamline CFD Broker Payments <br>with the Overchain System
      </h2>
    </div>
    <ul class="double__list">
      <li class="double__item">
        <h3>Integrate with your CFD platform
          in minutes</h3>
        <img src="./img/content/double_1.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Same-day global settlements in USD, EUR, GBP and more</h3>
        <img src="./img/content/double_2.png" alt="" />
      </li>
    </ul>
  </div>
</section>
