<section class="section__expert fullBg withImg">
  <div class="container">
    <div class="expert__container">
      <div class="expert__content">
        <h2>
          Overchain offers free integration with any CFD brokerage platform
        </h2>
        <a href="#contact" class="button full expert__button ankor">
          Book a Demo
        </a>
      </div>
      <div class="expert__decimg">
        <img src="./img/decor/expert_dec.png" alt="" />
      </div>
    </div>
  </div>
  <div class="expert__bg">
    <img src="./img/backgrounds/expert_2.jpg" class="cover" alt="" />
    <img src="./img/backgrounds/expert_2mob.jpg" class="cover mob" alt="" />
  </div>
</section>
