<section class="section__first">
  <div class="container">
    <div class="first__content">
      <h1>Crypto Payment System for CFD Brokers</h1>
      <div class="first__desc">
        <p>
          Unlock more than just crypto payment acceptance, but an all-in-one crypto management solution. Enjoy the ease and security of your transactions alongside full legal crypto compliance
        </p>
      </div>
      <a href="#" class="button full">
        Book a Demo
      </a>
    </div>
  </div>
  <div class="sircle__fs"></div>
  <div class="first__imgcont">
    <img src="./img/content/firstsol_2.png" alt="" class="cover">
  </div>
</section>
