<section class="section__settlment topel">
  <div class="container">
    <div class="section__titlecont">
      <h2>Easy Fiat & Crypto <br />Settlements</h2>
    </div>
    <div class="settlment__car simplePager splide">
      <div class="splide__track">
        <ul class="settlment__list splide__list">
          <li class="settlment__item splide__slide">
            <div class="settlment__icon">
              <img src="./img/icons/manage_16.svg" alt="" class="contain" />
            </div>
            <h3>Instant Access to Fiat</h3>
            <p>
              Top up and settle your account balance in major fiat currencies
              like USD, EUR, GBP and more
            </p>
          </li>
          <li class="settlment__item splide__slide">
            <div class="settlment__icon">
              <img src="./img/icons/manage_17.svg" alt="" class="contain" />
            </div>
            <h3>Banking Partnerships</h3>
            <p>
              Our extensive network of banks and EMIs ensures seamless fiat
              transactions for your CFD brokerage business
            </p>
          </li>
          <li class="settlment__item splide__slide">
            <div class="settlment__icon">
              <img src="./img/icons/manage_18.svg" alt="" class="contain" />
            </div>
            <h3>Fast Fiat Settlement</h3>
            <p>
              Get USD, EUR, GBP and other major currencies in your account on
              the same day
            </p>
          </li>
          <li class="settlment__item splide__slide">
            <div class="settlment__icon">
              <img src="./img/icons/manage_19.svg" alt="" class="contain" />
            </div>
            <h3>Crypto Settlement</h3>
            <p>
              Swiftly transfer crypto to your clients’ wallets via numerous
              supported networks and currencies
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
