<header class="header">
  <div class="container">
    <div class="header__content flex jcsb centerV">
      <div class="header__part">
        <a href="./" class="custom-logo-link">
          <img src="/img/icons/logo.svg" class="custom-logo" />
        </a>
      </div>
      <div class="header__part">
        <nav class="header__nav">
          <ul>
            <li class="ankor">
              <a href="#product">Product</a>
            </li>
            <li class="ankor">
              <a href="#solutions">Industries</a>
            </li>
            <li>
              <a href="./blog.html">Blog</a>
            </li>
            <li class="ankor">
              <a href="#industries">About Us</a>
            </li>
            <li class="ankor">
              <a href="#contact">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__part part__btns">
        <a href="#contact" class="button border header__button">Login</a>
        <a href="#contact" class="button full header__button ankor"> Book a Demo </a>
      </div>
      <button class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>

<div class="mobile__navcont">
  <div class="mobile__nav">
    <div class="mobile__top">
      <nav class="header__nav">
        <ul>
          <li class="ankor">
            <a href="#product">Product</a>
          </li>
          <li class="ankor">
            <a href="#solutions">Solutions</a>
          </li>
          <li class="ankor">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="ankor">
            <a href="#industries">Industries</a>
          </li>
          <li class="ankor">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="nav__btns">
        <a href="#contact" class="button border header__button">Login</a>
        <a href="#" class="button full header__button"> Book a Demo </a>
      </div>
    </div>
    <ul class="footer__soc">
      <li>
          <a href="#" target="_blank">
              <img src="/img/icons/soc_1.svg" alt="">
          </a>
      </li>
      <li>
          <a href="#" target="_blank">
              <img src="/img/icons/soc_2.svg" alt="">
          </a>
      </li>
  </ul>
  </div>
</div>
