html {
    --cw: #fff;
    --ct: #101010;
    --ct2: #686868;
    --cz: #28ffb2;
    --cd: #003e43;
    --cd2: #12402F;
    --cg: #f3f3f3;
    --cbg: #d9d9d9;  
    --cr: #ff0000;
    --ff: "Mulish", sans-serif;
} 
