<section class="double__section topel">
  <div class="container">
    <div class="section__titlecont">
      <h2>Key Advantages of Using <br>Our Crypto Payment Widget</h2>
    </div>
    <ul class="double__list">
      <li class="double__item">
        <h3>Global Reach</h3>
        <div class="double__desc">
          <p>
            Accept payments from customers around the world, expanding your
            market.
          </p>
        </div>
        <img src="./img/content/double_15.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Instant Transactions</h3>
        <div class="double__desc">
          <p>
            Receive payments almost instantly, reducing wait times and improving
            cash flow.
          </p>
        </div>
        <img src="./img/content/double_16.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Low Transaction Fees</h3>
        <div class="double__desc">
          <p>
            Benefit from lower transaction fees compared to traditional payment
            methods.
          </p>
        </div>
        <img src="./img/content/double_17.png" alt="" />
      </li>
      <li class="double__item">
        <h3>User-Friendly Interface</h3>
        <div class="double__desc">
          <p>
            An intuitive design that makes it easy for your customers to
            complete payments.
          </p>
        </div>
        <img src="./img/content/double_18.png" alt="" />
      </li>
    </ul>
  </div>
</section>
