<section class="section__mediatext noDec topel">
  <div class="container">
    <div class="mediatext__cont sm">
      <div class="mediatext__left">
        <h2>Professional Support 24/7</h2>
        <div class="mediatext__desc">
          <p>
            We offer round-the-clock support to help you with any questions or
            issues. Our experts are ready to provide assistance and resolve any
            technical concerns.
          </p>
        </div>
        <a href="#" class="button full">Book a Demo</a>
      </div>
      <div class="mediatext__image">
        <img src="./img/content/mediatext_2.jpg" alt="" class="cover" />
      </div>
    </div>
  </div>
</section>
