<section class="section__options">
  <div class="container">
    <div class="section__titlecont">
      <h2>Why Choose Our Widget?</h2>
    </div>
    <div class="options__car simplePager splide">
      <div class="splide__track">
        <ul class="options__list splide__list">
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_21.svg" alt="" class="contain" />
            </div>
            <h3>Quick Installation</h3>
            <p>
              Easy-to-setup widget that can be integrated in just a few minutes.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_45.svg" alt="" class="contain" />
            </div>
            <h3>Security</h3>
            <p>Modern encryption technologies to protect all transactions.</p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_46.svg" alt="" class="contain" />
            </div>
            <h3>Compatibility</h3>
            <p>Support for various cryptocurrencies and payment systems.</p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_47.svg" alt="" class="contain" />
            </div>
            <h3>Analytics</h3>
            <p>Tools for monitoring and analyzing transactions.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
