<section class="section__prodfirst">
  <div class="container">
    <div class="prodfirst__content">
      <div class="uppertitle">Ultimate Payment system</div>
      <h1>Easy and Safe <br />Cryptocurrency Payments</h1>
      <div class="prodfirst__desc">
        <p>
          Our crypto payment widget offers a simple and effective way to
          integrate cryptocurrency transactions into your website or mobile app.
          With it, you can accept payments in various cryptocurrencies,
          including Bitcoin, Ethereum, and many others.
        </p>
      </div>
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
  <img src="./img/backgrounds/product__bg.jpg" alt="" class="cover">
</section>
