<section class="section__reviews white">
  <div class="container">
    <div class="lefttitle">Reviews</div>
    <div class="reviews__car splide simpleCarousell greenArrows">
      <div class="splide__track">
        <ul class="reviews__list splide__list">
          <li class="reviews__item splide__slide">
            <div class="review__authorcont flex">
              <div class="review__ava">
                <img src="./img/content/avatar.jpg" alt="" class="cover" />
              </div>
              <div class="review__info">
                <span>Leo Larson</span>
                <span>Swift - Greenholt</span>
              </div>
            </div>
            <div class="review__text">
              <p>
                What I like most about this platform is its approach to any type
                of business. I like the possibility of integrating crypto
                payments into the mobile app and the business site. This widget
                is highly secure and supports various cryptocurrencies.
              </p>
            </div>
          </li>
          <li class="reviews__item splide__slide">
            <div class="review__authorcont flex">
              <div class="review__ava">
                <img src="./img/content/avatar.jpg" alt="" class="cover" />
              </div>
              <div class="review__info">
                <span>Leo Larson</span>
                <span>Swift - Greenholt</span>
              </div>
            </div>
            <div class="review__text">
              <p>
                What I like most about this platform is its approach to any type
                of business. I like the possibility of integrating crypto
                payments into the mobile app and the business site. This widget
                is highly secure and supports various cryptocurrencies.
              </p>
            </div>
          </li>
          <li class="reviews__item splide__slide">
            <div class="review__authorcont flex">
              <div class="review__ava">
                <img src="./img/content/avatar.jpg" alt="" class="cover" />
              </div>
              <div class="review__info">
                <span>Leo Larson</span>
                <span>Swift - Greenholt</span>
              </div>
            </div>
            <div class="review__text">
              <p>
                What I like most about this platform is its approach to any type
                of business. I like the possibility of integrating crypto
                payments into the mobile app and the business site. This widget
                is highly secure and supports various cryptocurrencies.
              </p>
            </div>
          </li>
          <li class="reviews__item splide__slide">
            <div class="review__authorcont flex">
              <div class="review__ava">
                <img src="./img/content/avatar.jpg" alt="" class="cover" />
              </div>
              <div class="review__info">
                <span>Leo Larson</span>
                <span>Swift - Greenholt</span>
              </div>
            </div>
            <div class="review__text">
              <p>
                What I like most about this platform is its approach to any type
                of business. I like the possibility of integrating crypto
                payments into the mobile app and the business site. This widget
                is highly secure and supports various cryptocurrencies.
              </p>
            </div>
          </li>
          <li class="reviews__item splide__slide">
            <div class="review__authorcont flex">
              <div class="review__ava">
                <img src="./img/content/avatar.jpg" alt="" class="cover" />
              </div>
              <div class="review__info">
                <span>Leo Larson</span>
                <span>Swift - Greenholt</span>
              </div>
            </div>
            <div class="review__text">
              <p>
                What I like most about this platform is its approach to any type
                of business. I like the possibility of integrating crypto
                payments into the mobile app and the business site. This widget
                is highly secure and supports various cryptocurrencies.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
