<section class="section__steps">
  <div class="container">
    <div class="section__titlecont">
      <h2>Three-Step Payment Process</h2>
    </div>
    <div class="srtps__car simplePager splide">
      <div class="splide__track">
        <ul class="steps__list splide__list">
          <li class="steps__item splide__slide">
            <div class="num">01</div>
            <h3>Create a Unique Payment Link</h3>
            <div class="steps__desc">
              <p>
                Set up a personalized payment link using the platform’s
                dashboard. You can include specific product details and branding
                elements, such as your company logo and colors, to provide a
                professional and seamless experience for your customers.
              </p>
            </div>
          </li>
          <li class="steps__item splide__slide">
            <div class="num">02</div>
            <h3>Send the Link <br />to Your Customer</h3>
            <div class="steps__desc">
              <p>
                Share the payment link with your customer through any
                communication channel of your choice, such as email, SMS, social
                media, or embedded on your website. This step makes it easy for
                your customers to access the payment page securely and quickly.
              </p>
            </div>
          </li>
          <li class="steps__item splide__slide">
            <div class="num">03</div>
            <h3>Receive <br />Crypto Payment</h3>
            <div class="steps__desc">
              <p>
                Once the customer completes the payment, the funds are
                transferred in cryptocurrency and can be automatically converted
                to your preferred fiat currency. You receive instant
                notifications about successful transactions, ensuring prompt
                settlement in your account.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
