.section__business {
    .manage__list {
        .manage__num {
            font-size: 4rem;
            line-height: 5rem;
            font-weight: 600;
            color: var(--cz);
        }

        h4 {
            margin-top: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
        }

        p {
            margin-top: 1rem;
        }
    }
}
