<footer class="footer topel">
  <div class="container">
    <div class="footer__content flex jcsb">
      <div class="footer__left">
        <a href="./" class="custom-logo-link">
          <img src="/img/icons/logo.svg" class="custom-logo" />
        </a>
      </div>
      <div class="footer__right">
        <div class="footer__top flex jcsb centerV">
          <nav class="footer__nav">
            <ul>
              <li class="ankor">
                <a href="#product">Products</a>
              </li>
              <li class="ankor">
                <a href="#solutions">Industries</a>
              </li>
              <li class="ankor">
                <a href="#benefits">Blog</a>
              </li>
              <li class="ankor">
                <a href="#industries">About us</a>
              </li>
            </ul>
          </nav>
          <ul class="footer__soc">
            <li>
              <a href="#" target="_blank">
                <img src="/img/icons/soc_1.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="/img/icons/soc_2.svg" alt="" />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__text">
          <p>
            Data and information on this website are provided for informational
            purposes only, and are not intended for reference or other purposes.
          </p>
        </div>
        <div class="footer__middle">
          <div class="footer__connect">
            Still have questions? <br /><a href="#">Let’s talk</a>
          </div>
        </div>
        <div class="footer__bottom flex jcsb">
          <ul>
            <li>
              <a href="./privacy.html">Privacy policy for Clients</a>
            </li>
            <li>
              <a href="./terms.html">Complaints Handling</a>
            </li>
          </ul>
          <div class="copyright">Overchain © 2024</div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="popup" id="thanks">
  <div class="popup__underlay closePopup"></div>
  <div class="popup__container">
    <div class="popup__inner">
      <img src="/img/icons/popup_1.png" alt="" />
      <h4>Well done!</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur. Vitae donec ipsum dolor egestas
        donec iaculis eget pretium egestas.
      </p>
      <button class="button full closePopup">Done</button>
    </div>
  </div>
</div>

<div class="popup" id="error">
  <div class="popup__underlay closePopup"></div>
  <div class="popup__container">
    <div class="popup__inner">
      <img src="/img/icons/popup_2.png" alt="" />
      <h4>Something went wrong</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur. Vitae donec ipsum dolor egestas
        donec iaculis eget pretium egestas.
      </p>
      <button class="button full closePopup">Done</button>
    </div>
  </div>
</div>
