.section__starting.decoration {
    .container {
        &::before {
            left: -3.5rem !important;
        }
        &::after {
            right: -3.5rem !important;
        }
    }
}

.section__starting:not(.decoration) {
    .container {
        overflow: hidden;
    }
}

.starting__car {
    margin-top: 2.5rem;
}

.starting__item {
    padding: 2.5rem 2rem;
    border-radius: 1.5rem;
    background: #0A2325;
    overflow: hidden;
    position: relative;

    * {
        transition: 0.3s;
        position: relative;
    }

    .num {
        font-size: 3rem;
        line-height: 2.5rem;
        color: var(--cz);
        opacity: 0.2;
        font-weight: 600;
    }

    .name {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--cw);
        font-weight: 600;
    }

    .desc {
        margin-top: 1rem;
        opacity: 0;
        transform: translateY(1rem);
    }

    &::before {
        width: 20rem;
        height: 20rem;
        top: -7.75rem;
        right: -5.87rem;
        content: "";
        border-radius: 50%;
        opacity: 0.48;
        background: #28ffb2;
        filter: blur(12.5rem);
        position: absolute;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover {
        .num {
            opacity: 1;
        }

        .name {
            color: var(--cz);
        }

        .desc {
            opacity: 1;
            transform: translateY(0);
        }

        &::before {
            opacity: 1;
        }
    }
}

.section__bottom {
    margin-top: 4rem;
    justify-content: center;

    .button {
        max-width: 13.625rem;
        width: 100%;
    }
}

.starting__list {
    &.biggerPads {
        .starting__item {
            padding-bottom: 5rem !important;
        }
    }
}

@media screen and (min-width: 1025px) {
    .starting__list {
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


@media screen and (max-width: 1024px) {
    .starting__car {
        margin-top: 2rem;
        font-size: 0;
        margin-right: 3rem;
    }
    .section__starting.decoration {
        .container {
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
    }
    .starting__list {
        &.biggerPads {
            .starting__item {
                padding-bottom: 3rem !important;
            }
        }
    }
    .starting__item {
        padding: 2.5rem 1.5rem;
        width: 19.375rem;
        min-width: 19.375rem;
        &.is-active {
            &::before {
                top: -7.75rem;
                right: -4.94rem;
                opacity: .48;
            }
            .num {
                opacity: 1;
            }
            .name {
                color: var(--cz);
            }
            .desc {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .section__bottom {
        margin-top: 2.5rem;
    }
}
