<section id="product" class="section__blog topel white">
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item bigger">
        <div class="blogitem__img">
          <img
            src="./img/content/blogitem__first.png"
            alt=""
            class="cover first"
          />
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
      <li class="blog__item">
        <div class="blogitem__img">
          <img src="./img/content/blogitem.jpg" alt="" class="cover" />
          <img src="./img/content/blogitem.jpg" alt="" class="cover mob" />
          <ul class="catslist">
            <li>
              <a href="#">Overchain Tutorials</a>
            </li>
          </ul>
        </div>
        <div class="blogitem__info">
          <a href="article.html" class="blogitem__name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            bibendum auctor metus
          </a>
        </div>
        <a href="article.html" class="more__btn">Read more</a>
      </li>
    </ul>
    <div
      class="facetwp-facet facetwp-type-pager">
      <button class="facetwp-load-more" data-loading="Show more">
        Show more
      </button>
    </div>
  </div>
</section>
