<section class="section__blogtop">
  <img src="./img/backgrounds/blog_bg.png" alt="" class="cover" />
  <img src="./img/backgrounds/blog__bgmob.png" alt="" class="cover mob" />
  <div class="container">
    <ul class="breadcrumbs light">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <span>Blog feed</span>
      </li>
    </ul>
    <div class="blog__top">
      <h1 class="blog__title">Our Blog</h1>
      <form action="#" class="search__form">
        <button></button>
        <input type="search" name="s" placeholder="Search" />
      </form>
    </div>
    <div
      class="facetwp-facet facetwp-facet-catnews facetwp-type-radio">
      <div class="facetwp-radio checked">All articles</div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Crypto Payments</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Crypto Regulations</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Business Tips</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Managing Crypto</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Payment Security</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Case Studies</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Overchain Tutorials</span
        ><span class="facetwp-counter">(38)</span>
      </div>
      <div class="facetwp-radio">
        <span class="facetwp-display-value">Overchain Updates</span
        ><span class="facetwp-counter">(38)</span>
      </div>
    </div>
  </div>
</section>
