<section class="section__error">
    <img src="./img/backgrounds/error_bg.jpg" alt="" class="cover">
    <div class="container">
        <div class="error__container">
            <div class="error__content">
                <div class="uppertitle">
                    Page not found
                </div>
                <h1>404</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur. Nisl pulvinar massa praesent pharetra facilisis lacus morbi sed.
                </p>
                <a href="/" class="button full">To Main Page</a>
            </div>
        </div>
    </div>    
</section>