<section class="section__faq faqpage white">
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <span>FAQ</span>
      </li>
    </ul>
    <div class="section__titlecont">
      <h2>FAQ</h2>
    </div>
    <div class="faq__filtercont">
      <div class="filter__part">
        <select name="cat" placeholder="Choose category" class="filterSelect">
          <option value="0">Choose category</option>
          <option value="1">Category 1</option>
          <option value="2">Category 2</option>
          <option value="3">Category 3</option>
          <option value="4">Category 4</option>
          <option value="5">Category 5</option>
        </select>
      </div>
      <div class="filter__part">
        <div class="filterSearchCont">
          <input type="text" placeholder="Search" class="filterSearch" />
        </div>
      </div>
    </div>
    <h2 class="faq__sectitle">General Information</h2>
    <ul class="faq__list">
      <li data-cats="0, 1, 3, 5" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            How to accept crypto payments?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Integrate Overchain into your business system to start accepting
              crypto payments effortlessly. Our platform offers tools such as
              payment widgets, links, and APIs to facilitate seamless crypto
              transactions. Book a Demo and one of our account managers will
              show you our ultimate payment system, answer all your questions,
              and provide a personalised offer to start accepting multiple
              cryptocurrencies with instant global transactions, reduced fees,
              and robust security.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 2, 4" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            What are the benefits of using crypto payments for aviation?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Using Overchain for crypto payments provides significant
              advantages for aviation businesses. 
            </p>
            <ul>
              <li>
                It facilitates global acceptance, enabling businesses to process
                crypto payments from clients worldwide and expand market reach. 
              </li>
              <li>
                Overchain also ensures regulatory compliance by adhering to EU
                standards and assisting with AML and KYC requirements.
              </li>
              <li>
                Additionally, we offer competitive fees starting at just 0.2%,
                with a transparent pricing structure and no hidden costs. 
              </li>
              <li>
                Overchain boasts advanced security features, including
                Fireblocks, Chainalysis, 2FA, and multi-step approval processes,
                safeguarding all data and transactions from cyber threats. 
              </li>
            </ul>
            <p>
              Contact us today to discover how our innovative crypto payment
              system can transform your aviation business.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 2, 5" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Which coins are supported by Overchain?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Overchain supports all major cryptocurrencies, including USDT,
              ETH, BNB, BTC, LTC, MATIC, and XRP. Businesses can also request
              additional options to be added. Our support for various
              cryptocurrencies ensures that clients can cater to a diverse
              customer base and stay ahead in the market. To request more coin
              options, simply contact us.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 3" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Is Overchain a secure crypto payment gateway?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Absolutely, Overchain is a highly secure crypto payment gateway.
              Our advanced security measures include multi-factor authentication
              (2FA), Fireblocks for asset safeguarding, and Chainalysis for
              real-time transaction monitoring. Additionally, we employ a
              multi-step approval process to protect all data and transactions
              from cyber threats. Reach out to us for more detailed information
              on our security protocols.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 4" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            What businesses accept crypto payments?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Many medium and enterprise-level businesses, including Forex & CFD
              brokers, online casinos, yachting, iGaming, and e-commerce accept
              crypto payments. These industries use Overchain's customised
              solutions to attract a global clientele and benefit from fast,
              secure transactions. The versatility and growing popularity of
              cryptocurrencies makes them an excellent choice for optimising
              payment methods for high-value businesses. Contact us to start
              accepting crypto payments today!
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 5" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            What is KYB in cryptocurrency payment processors?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              KYB (Know Your Business) is a verification process used by
              cryptocurrency payment gateways to ensure businesses comply with
              regulatory standards. It involves verifying the business’s
              identity, ownership, and operations to maintain a secure and
              compliant payment environment. With KYB, Overchain ensures
              businesses adhere to global regulations, maintaining full
              compliance and security. Contact us to learn more about our KYB
              process and how it benefits your business.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 2" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            How can I integrate cryptocurrency payments?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Integrating cryptocurrency payments with Overchain is simple and
              free of charge. Our platform provides comprehensive API
              documentation, payment widgets, and other tools for managing
              payments, from acceptance to payouts and withdrawals. Contact us
              to start integrating crypto payments into your business system
              today. A personal manager will guide you through the integration
              process to ensure a smooth setup.
            </p>
          </div>
        </div>
      </li>
      <li data-cats="0, 1" class="faq__item ac">
        <div class="ac-header">
          <button type="button" class="ac-trigger">
            Is it legal to accept crypto payments?
          </button>
        </div>
        <div class="ac-panel">
          <div class="ac-text">
            <p>
              Absolutely, businesses can legally accept cryptocurrency payments
              through our crypto payment gateway. Overchain is fully licensed in
              the EU, guaranteeing a secure and dependable payment ecosystem.
              However, local legal requirements vary by jurisdiction, and new
              regulations and rules are constantly emerging. Our expert team
              supports businesses in navigating these regional requirements to
              ensure full compliance. Schedule a call with one of our experts to
              receive a customised solution and integrate crypto payments while
              adhering to all legal considerations.
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="notFoundFaq">
      Unfortunately, nothing was found
    </div>
  </div>
</section>
