.section__manage, .section__business {
    .starting__bottom {
        padding-top: 5.5rem;
        margin-top: 0;
    }

    .container {
        overflow: hidden;
    }

    &:not(.white) {
        .manage__item {
            border-color: #4B4B4B !important;
        }
        .starting__bottom {
            background-color: var(--ct);
            position: relative;
            z-index: 2;
        }
    }

    &.white {
        .manage__list {
            &::before {
                background-color: var(--cw) !important;
            }
        }
    }
}

.manage__list {
    margin-top: 4em;
    margin-bottom: -1.5em;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.5rem;
        bottom: -1px;
        background-color: var(--ct);
    }

    &.smaller {
        .manage__item {
            h4 {
                font-size: 1.5rem;
                line-height: 2rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }
}

.manage__item {
    padding: 1.5em;
    border: 1px solid var(--cg);

    h4 {
        margin-top: 3rem;
        font-weight: 700;
    }

    p {
        margin-top: 1rem;
    }

    &:nth-child(-n + 3) {
        padding-top: 0;
        border-top: none;
    }

    &:nth-child(3n) {
        padding-right: 0;
        border-right: none;
    }

    &:nth-child(3n + 1) {
        padding-left: 0;
        border-left: none;
    }
}

.manage__icon {
    width: 3rem;
    height: 3rem;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .section__manage {
        padding-top: 6.5em !important;
        padding-bottom: 9em !important;
    }
    .manage__list {
        margin-top: 2.5em;
        margin-bottom: -.5em;
        grid-template-columns: 1fr 1fr;
        &::before {
            display: none;
        }
    }
    .manage__item {
        padding: .5em 1em !important;
        border: 1px solid var(--cg) !important;
        h4 {
            margin-top: 1.5rem;
        }
        &:nth-child(-n + 2) {
            padding-top: 0 !important;
            border-top: none !important;
        }
        &:nth-child(2n) {
            padding-right: 0 !important;
            border-right: none !important;
        }
        &:nth-child(2n + 1) {
            padding-left: 0 !important;
            border-left: none !important;
        }
    }
}

@media screen and (max-width: 760px) {
    .section__manage {
        .section__titlecont {
            h2 {
                br {
                    display: none;
                }
            }
        }
    }
    .manage__list {
        margin-bottom: 0;
        grid-template-columns: 1fr;
    }
    .manage__item {
        padding: .5em 0 !important;
        border: none !important;
        border-bottom: 1px solid var(--cg) !important;
        &:nth-child(2) {
            padding: .5em 0 !important;
        }
        &:last-child {
            border-bottom: none !important;
            padding-bottom: 0 !important
        }
    }
}