<section class="section__about">
  <div class="container">
    <div class="about__content">
      <h1>Lorem ipsum dolor sit amet consectetur</h1>
      <div class="about__desc">
        <p>
          Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
          ornare arcu eget porta. Risus turpis risus dui in varius. Ut eget
          elementum vitae elit turpis orci sed amet. Ultrices amet lorem
          dignissim tristique iaculis cras.
        </p>
      </div>
      <a href="#" class="button full hiddeDesc">Book a Demo</a>
    </div>
  </div>
  <div class="about__bottomp">
    <!-- sp =  n * 6;  sp2 = sp / 2 -->
    <style>
      .complete__main > div {
        animation: animate 32s -32s linear infinite;
      }
      .complete__main > div:nth-child(2) {
        animation: animate2 32s -16s linear infinite;
      }
    </style>
    <div class="complete__main">
      <div class="complate__bottom flex">
        <img src="./img/icons/ab_1.svg" alt="" />
        <img src="./img/icons/ab_2.svg" alt="" />
        <img src="./img/icons/ab_3.svg" alt="" />
        <img src="./img/icons/ab_4.svg" alt="" />
        <img src="./img/icons/ab_1.svg" alt="" />
        <img src="./img/icons/ab_2.svg" alt="" />
        <img src="./img/icons/ab_3.svg" alt="" />
        <img src="./img/icons/ab_4.svg" alt="" />
      </div>
      <div class="complate__bottom flex">
        <img src="./img/icons/ab_1.svg" alt="" />
        <img src="./img/icons/ab_2.svg" alt="" />
        <img src="./img/icons/ab_3.svg" alt="" />
        <img src="./img/icons/ab_4.svg" alt="" />
        <img src="./img/icons/ab_1.svg" alt="" />
        <img src="./img/icons/ab_2.svg" alt="" />
        <img src="./img/icons/ab_3.svg" alt="" />
        <img src="./img/icons/ab_4.svg" alt="" />
      </div>
    </div>
  </div>
  <img src="./img/backgrounds/about_bg.jpg" alt="" class="cover" />
</section>
