<section class="section__expert fullBg">
  <div class="container">
    <div class="expert__container">
      <div class="expert__content maximum leftMob">
        <h2>Join Our Team</h2>
        <div class="expert__desc">
          <p>
            Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
            ornare arcu eget porta. Risus turpis risus dui in varius. Ut eget
            elementum vitae elit turpis orci sed amet. Ultrices amet lorem
            dignissim tristique iaculis cras.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
            ornare arcu eget porta. Risus turpis risus dui in varius. Ut eget
            elementum vitae elit turpis orci sed amet. Ultrices amet lorem
            dignissim tristique iaculis cras.
          </p>
        </div>
        <a href="#contact" class="button full expert__button ankor">
          Book a Demo
        </a>
      </div>
    </div>
  </div>
  <div class="expert__bg both">
    <img src="./img/backgrounds/expert_about.jpg" class="cover" alt="" />
  </div>
</section>
