<section class="section__office white">
  <div class="container">
    <div class="office__content">
      <h2>Office</h2>
      <ul class="office__locations">
        <li>
          <span>London</span>
        </li>
        <li class="soon">
          <span>Lithuania</span>
        </li>
      </ul>
      <div class="office__desc">
        <p>
          Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
          ornare arcu eget porta. Risus turpis risus dui in varius. Ut eget
          elementum vitae elit turpis orci sed amet. Ultrices amet lorem
          dignissim tristique iaculis cras.
        </p>
      </div>
      <a href="mailto:partnership@overchain.com" class="office__mail">partnership@overchain.com</a>
      <div class="email__desc">
        email pr / marketing inqueries
      </div>
    </div>
  </div>
  <div class="office__bg">
    <img src="./img/backgrounds/office__bg.png" alt="">
  </div>
</section>
