<section class="section__team white topel">
  <div class="container">
    <div class="section__titlecont">
      <div class="uppertitle">
        Don’t Wait — Innovate!
      </div>
      <h2>Meet our team</h2>
    </div>
    <div class="team__car simplePager splide">
      <div class="splide__track">
        <ul class="team__list splide__list">
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_1.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Boyd Cassin
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_2.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Clyde Carter
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_3.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Delores Simonis
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_4.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Erika Altenwerth
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_1.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Boyd Cassin
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_2.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Clyde Carter
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_3.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Delores Simonis
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
          <li class="team__item splide__slide">
            <div class="team__photo">
              <img src="./img/content/team_4.jpg" alt="" class="cover">
            </div>
            <h4 class="team__name">
              Erika Altenwerth
            </h4>
            <div class="team__desc">
              Customer support service
            </div>
            <a href="#" class="more__btn">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
