<section class="section__vision">
  <div class="container">
    <div class="vision__car simplePager splide">
      <div class="splide__track">
        <ul class="vision__grid splide__list">
          <li class="vision__item item1 splide__slide">
            <div class="vision__inner">
              <h3>Vision</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
                ornare arcu eget porta. Risus turpis risus dui in varius. Ut
                eget elementum vitae elit turpis orci sed amet.
              </p>
            </div>
            <img src="./img/decor/vision_dec.png" alt="" class="vision__dec" />
          </li>
          <li class="vision__item item2 splide__slide">
            <div class="vision__inner">
              <h3>Values</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
                ornare arcu eget porta. Risus turpis risus dui in varius. Ut
                eget elementum vitae elit turpis orci sed amet.
              </p>
            </div>
            <img src="./img/decor/vision_dec.png" alt="" class="vision__dec" />
          </li>
          <li class="vision__item item3 splide__slide">
            <div class="vision__inner">
              <h3>Mission</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur. Maecenas morbi vitae vel
                ornare arcu eget porta. Risus turpis risus dui in varius. Ut
                eget elementum vitae elit turpis orci sed amet.
              </p>
            </div>
            <img src="./img/decor/vision_dec.png" alt="" class="vision__dec" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
