<section id="product" class="section__getway white topel">
  <div class="container">
    <div class="section__titlecont">
      <h2>Crypto Deposits Made Easy</h2>
    </div>
    <ul class="getway__list moreSm type3">
      <li class="getway__item partThr withImg cind7 opened opening">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Widget</h3>
            <p>
              Embed the Overchain widget to streamline crypto payments with
              direct integration into your CRM or Cashier, with over 9
              cryptocurrencies and exchange rates locked for 15 minutes.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_1.png" alt="" />
        </div>
      </li>
      <li class="getway__item partFr noImg">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>API</h3>
            <p>
              Effortlessly set up Overchain in your system, customise your
              payment page, and add new features with our flexible API.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
        </div>
      </li>
      <li class="getway__item partFr noImg">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Generate Wallet</h3>
            <p>
              Automatically generate permanent deposit wallets for your traders,
              each with a unique reference ID, ensuring security and
              streamlining their payment experience.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
        </div>
      </li>
      <li class="getway__item partThr withImg cind6">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Invoicing</h3>
            <p>
              Generate digital invoices to allow clients to deposit
              cryptocurrency. Open your business to customers worldwide, settle
              transactions in your preferred fiat or crypto currencies and
              eliminate the risk of exchange rate fluctuations.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_3.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
