<section class="section__integration topel white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Our Partners</h2>
      <p>
        Overchain seamlessly integrates with most CFD Brokerage CRMs, Cashiers
        and other tech tools through pre-built integrations. Our dedicated team
        guarantees a smooth integration process without any disruptions.
      </p>
    </div>
    <!-- sp =  n * 6;  sp2 = sp / 2 -->
    <style>
      .moveLEft > ul {
        animation: animate 40s -40s linear infinite;
      }
      .moveLEft > ul:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
    </style>
    <div class="prtns__carousell moveLEft scroll">
      <ul class="integration__list last3">
        <li>
          <span>
            <img src="./img/icons/int_1.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/icons/int_2.svg" class="contain" alt="" />
          </a>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_3.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_4.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_5.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_6.svg" class="contain" alt="" />
          </span>
        </li>
      </ul>
      <ul class="integration__list last3">
        <li>
          <span>
            <img src="./img/icons/int_1.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="./img/icons/int_2.svg" class="contain" alt="" />
          </a>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_3.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_4.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_5.svg" class="contain" alt="" />
          </span>
        </li>
        <li>
          <span>
            <img src="./img/icons/int_6.svg" class="contain" alt="" />
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
