<section class="section__mediatext noDec topel">
  <div class="container">
    <div class="mediatext__cont sm">
      <div class="mediatext__left">
        <h2>Accept Payments in Different Cryptocurrencies</h2>
        <div class="mediatext__desc">
          <p>
            Our service supports a wide range of cryptocurrencies, including
            Bitcoin, Ethereum, Litecoin, and other popular coins. This allows
            your customers to choose the payment method most convenient for
            them, increasing the chances of successful transactions.
          </p>
        </div>
      </div>
      <div class="mediatext__image">
        <img src="./img/content/mediatext_3.jpg" alt="" class="cover" />
      </div>
    </div>
  </div>
</section>
