<section class="section__options topel">
  <div class="container">
    <div class="section__titlecont">
      <h2>Why Use Payment Link?</h2>
    </div>
    <div class="options__car simplePager splide">
      <div class="splide__track">
        <ul class="options__list splide__list">
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_20.svg" alt="" class="contain" />
            </div>
            <h3>Instant Transactions Without Intermediaries</h3>
            <p>
              Payments are processed directly, eliminating the need for
              third-party intermediaries, which speeds up transactions and
              reduces costs.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_48.svg" alt="" class="contain" />
            </div>
            <h3>Transparent <br />Fees</h3>
            <p>
              Enjoy clear and predictable transaction fees, with no hidden
              costs, making it easier to manage your payment processing
              expenses.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_45.svg" alt="" class="contain" />
            </div>
            <h3>High <br />Security</h3>
            <p>
              Every transaction is secured by advanced cryptographic methods,
              ensuring data privacy and protection from fraud.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_49.svg" alt="" class="contain" />
            </div>
            <h3>Multiple Crypto <br />& Fiat Options</h3>
            <p>
              Accept payments in multiple cryptocurrencies and benefit from
              automatic conversion into your preferred fiat currency.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
