<section class="section__prodfirst">
  <div class="container">
    <div class="prodfirst__content">
      <div class="uppertitle">Ultimate Payment system</div>
      <h1>Convenient Crypto Payments with Payment Link</h1>
      <div class="prodfirst__desc">
        <p>
          We offer a fast and secure way to accept cryptocurrency payments using
          Payment Link. Our service allows you to easily integrate crypto
          payments into your business without complicated setups. Send payment
          links to your customers and receive payments within minutes.
        </p>
      </div>
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
  <img src="./img/backgrounds/product__bg2.jpg" alt="" class="cover" />
</section>
