<section class="section__benefits">
    <img src="./img/backgrounds/benefits_bg.png" alt="" class="cover">
    <div class="container">
        <div class="benefits__content">
            <h2>
                Book a Demo to Explore Overchain’s Benefits
            </h2>
            <p>
                Our ultimate crypto payment solution helps businesses elevate their payment system and attract a broader client base by enabling deposits in various cryptocurrencies. Request a demo to discover  Overchain crypto payment system features and advantages. Get answer on any questions you have. 
            </p>
            <a href="#" class="button full">
                Book a Demo
            </a>
        </div>
    </div>
</section>