<section class="section__searchtop white">
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <span>Blog feed</span>
      </li>
    </ul>
    <div class="search__top">
      <h1>Oh no! We couldn't find <br>anything like</h1>
      <div class="search__res">“Lorem ipsum dolor sit amet consectetur.”</div>
      <div class="notfound">
        It looks like the page or item you were looking for isn't available.
        Here are a few things you can try: check spelling, use different
        keywords, or browse popular articles.
      </div>
      <form action="#" class="search__form">
        <button></button>
        <input type="search" name="s" placeholder="Search" />
      </form>
    </div>
  </div>
</section>
