<section class="section__first">
  <div class="container">
    <div class="first__content">
      <h1>Accept Crypto Payments for Private Aviation Services</h1>
      <div class="first__desc">
        <p>
          Enhance revenue streams and attract new clients by offering diverse payment options with Overchain, the leading crypto payment gateway for private aviation services. Stay ahead of technological trends by enabling deposits in multiple cryptocurrencies for booking private jet charters, cargo flights, group charters, and medical evacuation flights.
        </p>
      </div>
      <a href="#" class="button full">
        Book a Demo
      </a>
    </div>
  </div>
  <div class="sircle__fs"></div>
  <div class="first__imgcont">
    <img src="./img/content/firstsol_3.png" alt="" class="cover">
  </div>
</section>
