<section id="product" class="section__getway white topel">
  <div class="container">
    <div class="section__titlecont">
      <div class="uppertitle">unlock seamless crypto transactions</div>
      <h2>Streamline Aviation Transactions <br>by Accepting Crypto Payments</h2>
      <p>
        Enhance your payment systems with Overchain's comprehensive tools,
        specifically designed to help aviation companies seamlessly integrate
        and manage cryptocurrency payments.
      </p>
    </div>
    <ul class="getway__list type3">
      <li class="getway__item full withImg cind1 opened opening">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Payment Links</h3>
            <p>
              Instantly create and send payment links to clients via email, messaging apps, or social media, allowing them to pay for charter flights, aircraft management services, or other aviation-related expenses. 
              <br><br>Enhance customer experience by offering flexible payment options and making it easy for clients to pay from anywhere.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_2.png" alt="" />
        </div>
      </li>
      <li class="getway__item full withImg cind2">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Invoices</h3>
            <p>
              Generate digital invoices, enabling clients to pay for aviation services using cryptocurrency. Broaden your aviation business's reach to a global clientele, settle transactions in your preferred fiat or cryptocurrencies, and mitigate the risk of exchange rate fluctuations.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_3.png" alt="" />
        </div>
      </li>
      <li class="getway__item full withImg cind3">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Widget</h3>
            <p>
              Incorporate our payment widget, facilitating smooth transactions for private aviation services directly from your website or booking platform. With instant processing, no chargebacks, and exchange rates locked for 15 minutes, our payment widget guarantees price certainty, enhancing the client experience.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_1.png" alt="" />
        </div>
      </li>
      <li class="getway__item partOne withImg cind4">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>API Integration</h3>
            <p>
              Our flexible API ensures seamless integration with aviation platforms and other business tools, providing the customisation your business requires. By integrating Overchain, you can maintain accurate financial records for cryptocurrency transactions while streamlining accounting, invoicing, and customer management processes.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_4.png" alt="" />
        </div>
      </li>
      <li class="getway__item partSec noImg">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Wallets</h3>
            <p>
              Create secure deposit addresses for private aviation clients, each featuring unique IDs and customisable conversion settings. Ensure seamless transactions for aviation services, while providing a streamlined onboarding experience.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
        </div>
      </li>
    </ul>
  </div>
</section>
