<section class="section__settlment">
  <div class="inner__overflow">
    <div class="container">
      <div class="section__titlecont">
        <h2>
          Quick and Easy Payout Solutions <br />for Aviation Business Needs
        </h2>
      </div>
      <div class="settlment__car simplePager splide">
        <div class="splide__track">
          <ul class="settlment__list bigger splide__list">
            <li class="settlment__item splide__slide">
              <div class="settlment__icon">
                <img src="./img/icons/manage_28.svg" alt="" class="contain" />
              </div>
              <h3>1. Seamless <br />Payouts</h3>
              <p>
                Effortlessly execute manual or mass payments to employees,
                vendors, partners, and support services with unparalleled speed.
                Simply upload a CSV file to the Overchain merchant dashboard,
                and we will handle the rest.
              </p>
            </li>
            <li class="settlment__item splide__slide">
              <div class="settlment__icon">
                <img src="./img/icons/manage_29.svg" alt="" class="contain" />
              </div>
              <h3>2. Convenient Withdrawals</h3>
              <p>
                Manage client withdrawals or refunds directly from our platform,
                or automate the process using our API.
              </p>
            </li>
            <li class="settlment__item splide__slide">
              <div class="settlment__icon">
                <img src="./img/icons/manage_30.svg" alt="" class="contain" />
              </div>
              <h3>3. Swift Crypto Transactions</h3>
              <p>
                Leverage your existing crypto balances or seamlessly
                auto-convert funds from your fiat reserves for swift and
                efficient transactions.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
