<section id="solutions" class="section__complate">
  <div class="container">
    <div class="section__titlecont left">
      <h2>Why Choose Us?</h2>
    </div>
    <div class="complate__content">
      <ul class="complate__list">
        <li>
          <h4>Trusted Reputation</h4>
          <p>
            Leverage our strong relationships and market presence to enhance your brand's reputation in the competitive real estate market.
          </p>
        </li>
        <li>
          <h4>Custom Solutions</h4>
          <p>
            We offer tailored services to meet the specific needs of developers, brokers, and escrow agents, ensuring you get exactly what you need.
          </p>
        </li>
        <li>
          <h4>Innovative Technology</h4>
          <p>
            Streamline your financial operations with our automated settlement feature. Process payments in either cryptocurrency or fiat currency directly within the platform or through our robust API connection. This functionality ensures that settlements are processed quickly and accurately, enhancing operational efficiency.
          </p>
        </li>
        <li>
          <h4>Expert Support</h4>
          <p>
            Access a dedicated support team ready to assist you 24/7, ensuring you have the help you need when you need it.
          </p>
        </li>
      </ul>
      <div class="complate__decor solution">
        <img src="/img/content/compsol_6.png" class="contain" alt="" />
      </div>
    </div>
  </div>
</section>
