<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>Addressing Key Challenges <br />in the iGaming Sector</h2>
    </div>
    <ul class="double__list hovering">
      <li class="double__item">
        <h3>Simplify Large Transactions</h3>
        <div class="double__desc">
          <p>
            Process high-value deals quickly and securely with Overchain’s
            platform, designed to handle the demands of large real estate
            transactions without the delays of traditional banking.
          </p>
        </div>
        <img src="./img/content/double_7.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Reduce Costs and Increase Profits</h3>
        <div class="double__desc">
          <p>
            Process high-value deals quickly and securely with Overchain’s platform, designed to handle the demands of large real estate transactions without the delays of traditional banking.
          </p>
        </div>
        <img src="./img/content/double_8.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Global Reach, No Borders</h3>
        <div class="double__desc">
          <p>
            Process high-value deals quickly and securely with Overchain’s platform, designed to handle the demands of large real estate transactions without the delays of traditional banking.
          </p>
        </div>
        <img src="./img/content/double_9.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Enhanced Security <br />& Compliance</h3>
        <div class="double__desc">
          <p>
            Process high-value deals quickly and securely with Overchain’s platform, designed to handle the demands of large real estate transactions without the delays of traditional banking.
          </p>
        </div>
        <img src="./img/content/double_10.png" alt="" />
      </li>
    </ul>
  </div>
</section>
