<section class="section__first notBlack">
  <div class="container">
    <div class="first__content">
      <h1>Close Real Estate Deals Faster with Crypto Payments</h1>
      <div class="first__desc">
        <p>
          Fast, secure, and reliable payment solutions tailored for developers, brokers, and escrow services, helping you close deals faster and with greater efficiency.
        </p>
      </div>
      <a href="#" class="button full">
        Book a Demo
      </a>
    </div>
  </div>
  <div class="sircle__fs"></div>
  <div class="first__imgcont">
    <img src="./img/content/firstsol_6.png" alt="" class="cover">
  </div>
</section>
