<section id="benefits" class="section__manage">
  <div class="container">
    <div class="section__titlecont">
      <h2>Our advantages</h2>
    </div>
    <ul class="manage__list smaller">
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_1.svg" class="contain" alt="" />
        </div>
        <h4>Swift Fiat Settlements</h4>
        <p>
          Utilise same-day transfers in USD, EUR, and GBP directly to your bank
          account
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_2.svg" class="contain" alt="" />
        </div>
        <h4>Transparent Pricing</h4>
        <p>
          Benefit from straightforward pricing with no hidden fees in all
          transactions
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_3.svg" class="contain" alt="" />
        </div>
        <h4>Seamless Conversion</h4>
        <p>
          Automatically convert received cryptocurrencies into your currency of
          choice
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_4.svg" class="contain" alt="" />
        </div>
        <h4>Accelerated Checkout</h4>
        <p>
          Provide a fast and efficient checkout process, speeding up crypto
          transactions
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_5.svg" class="contain" alt="" />
        </div>
        <h4>Minimal Transaction Fees</h4>
        <p>Increase your profit margins with exceptionally low fees</p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_6.svg" class="contain" alt="" />
        </div>
        <h4>Crypto Payments with Fiat</h4>
        <p>
          Make crypto payouts effortlessly by auto-converting from your fiat
          balances
        </p>
      </li>
    </ul>
    <div class="starting__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
