<section id="industries" class="section__challenge white">
  <div class="container">
    <div class="section__titlecont">
      <h2>
        Overchain Offers Tailored Payment Solutions for Diverse Industries
      </h2>
    </div>
    <div class="chalange__car splide">
      <div class="splide__track">
        <ul class="challenge__list splide__list">
          <li class="challenge__item coll_2 splide__slide">
            <img src="/img/content/chall_1.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">iGaming</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_2 splide__slide">
            <img src="/img/content/chall_2.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Forex</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_23 splide__slide">
            <img src="/img/content/chall_4.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Real Estate</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_13 splide__slide">
            <img src="/img/content/chall_5.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Yachting</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_23 splide__slide">
            <img src="/img/content/chall_6.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Aviation</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_13 splide__slide">
            <img src="/img/content/chall_3.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">CFD Trading</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
