<section class="section__convert topel">
  <div class="container">
    <div class="section__titlecont">
      <h2>Settle, Convert, Withdraw, <br />and Manage your way</h2>
      <p>
        Overchain supports a wide array of cryptocurrencies including BTC, ETH,
        BNB, LTC, MATIC, TRX, USDC, USDT, and XRP, Overchain enables crypto
        deposits on Ethereum, Tron, and Polygon networks manually or via API.
        Additional currencies and networks can be added upon request.
      </p>
    </div>
    <ul class="convert__list">
        <li class="convert__item">
            <img src="./img/icons/coin_1.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_2.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_7.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_3.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_8.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_4.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_9.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_5.svg" alt="" class="contain">
        </li>
        <li class="convert__item">
            <img src="./img/icons/coin_10.svg" alt="" class="contain">
        </li>
    </ul>
  </div>
</section>
