<section id="product" class="section__getway white">
  <div class="container">
    <div class="section__titlecont">
      <div class="uppertitle">unlock seamless crypto transactions</div>
      <h2>Simplify your BNB payments with our all-in-one crypto payment gateway.</h2>
    </div>
    <ul class="getway__list">
      <li class="getway__item getw_1 opened">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Widgets</h3>
            <p>
              Embed our widget into your platform to easily enable crypto
              deposits directly via your website, app or other online platform.
              Accept all major cryptocurrencies across different networks and
              benefit from 15-minute exchange rate locks, and unique and secure
              wallet addresses for each transaction.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_1.png" alt="" />
        </div>
      </li>
      <li class="getway__item getw_2">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Payment Links</h3>
            <p>
              Generate online sales without your own website via seamless set up
              and distribution of payment links. Share these directly with your
              customers via email, messaging platforms and social media.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_2.png" alt="" />
        </div>
      </li>
      <li class="getway__item getw_3">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>Invoices</h3>
            <p>
              Effortlessly generate digital invoices to enable payments in
              crypto directly from your clients. Reach customers everywhere and
              receive a settlement in your favored fiat or crypto without any
              exchange rate fluctuation risk.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_3.png" alt="" />
        </div>
      </li>
      <li class="getway__item getw_4">
        <div class="getway__inner">
          <div class="getway__cont">
            <h3>API</h3>
            <p>
              Integrate Overchain and seamlessly incorporate all our core
              functionalities into your platform with our pre-built,
              user-friendly, and scalable APIs. Create customisable payment
              pages and effortlessly add new features.
            </p>
          </div>
          <a href="#product" class="more__btn ankor">Learn More</a>
          <img src="/img/decor/getway_4.png" alt="" />
        </div>
      </li>
      <!-- <li class="getway__item getw_5 sm">
                <div class="getway__cont">
                    <h3>Plugins</h3>
                    <p>
                        Coming soon
                    </p>
                </div>
            </li>
            <li class="getway__item getw_6 sm">
                <div class="getway__cont">
                    <h3>POS</h3>
                    <p>
                        Coming soon
                    </p>
                </div>
            </li> -->
    </ul>
  </div>
</section>
