<section class="section__maincoin">
  <img src="./img/backgrounds/maincoin_bg.png" alt="" class="cover" />
  <img src="./img/backgrounds/maincoin__bgmob.png" alt="" class="cover mob" />
  <div class="container">
    <div class="maincoin__content">
      <h1>
        Accept Binance Coin Payments and Streamline Your Financial Operations
      </h1>
      <div class="maincoin__desc">
        <p>
          Overchain is your all-in-one crypto payment solution, designed to
          streamline how businesses accept, send, and manage Binance Coin
          payments along with a multitude of other cryptocurrencies.
        </p>
      </div>
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
