<section id="benefits" class="section__manage topel white">
  <div class="container">
    <div class="section__titlecont">
      <h2>
        Simplify Every Crypto Payment Operation with Our Advanced Features
        Settle, Convert, Withdraw, Manage
      </h2>
    </div>
    <ul class="manage__list">
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_13.svg" class="contain" alt="" />
        </div>
        <h4>Fast Settlements</h4>
        <p>
          Convert crypto to major fiat currencies and simply deposit them to
          your bank account via our platform or API.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_14.svg" class="contain" alt="" />
        </div>
        <h4>Single & Mass Payouts</h4>
        <p>
          Manage withdrawals, refunds, and mass payouts to clients, employees,
          or vendors seamlessly via CSV uploads or manually.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_9.svg" class="contain" alt="" />
        </div>
        <h4>Simple Exchange</h4>
        <p>
          Effortlessly swap between any of the connected crypto or fiat
          currencies.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_10.svg" class="contain" alt="" />
        </div>
        <h4>Auto Conversion</h4>
        <p>
          Streamline cross-currency transactions, withdrawals, and deposits with
          our automated conversion feature.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_11.svg" class="contain" alt="" />
        </div>
        <h4>Financial Reporting</h4>
        <p>
          Monitor and analyse your financial activities using detailed reports
          on current and historical transaction data.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_12.svg" class="contain" alt="" />
        </div>
        <h4>Multi-User Access</h4>
        <p>
          Utilise secure multi-user profiles with robust access control and
          flexible permissions.
        </p>
      </li>
    </ul>
  </div>
</section>
