<section class="section__starting">
  <div class="container">
    <div class="section__titlecont">
      <h2>4 Simple Steps to Start <br />Accepting Crypto</h2>
    </div> 
    <div class="starting__car simplePager splide">
      <div class="splide__track">
        <ul class="starting__list biggerPads splide__list">
          <li class="starting__item splide__slide">
            <div class="num">01</div>
            <div class="name">Book a Demo</div>
            <div class="desc">
              <p>
                Schedule a demo to discover how our platform can streamline your
                crypto payment processes.
              </p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">02</div>
            <div class="name">Complete Verification</div>
            <div class="desc">
              <p>
                Verify your account to ensure secure and uninterrupted access to all
                our payment features.
              </p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">03</div>
            <div class="name">Generate a Deposit Address</div>
            <div class="desc">
              <p>
                Create a deposit address manually or automatically via our no-cost
                API integration.
              </p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">04</div>
            <div class="name">Start Accepting Crypto</div>
            <div class="desc">
              <p>
                Begin accepting BNB and other cryptocurrencies expanding your global
                reach and client list.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
