<section style="height: 500vh" class="section__ultimate">
  <div class="ultimate__container">
    <div class="container">
      <div class="ultimate__top flex">
        <h2>
          It’s More Than Accepting BNB Benefit From Overchain’s Ultimate Payment
          Ecosystem
        </h2>
        <div>
          <p>
            Designed for businesses, Overchain is the top choice for handling a
            wide range of crypto operations. From accepting and managing crypto
            payments to fast fiat and crypto settlements, our easy-to-use
            platform enhances your payment operations.
          </p>
          <a href="#" class="button full">Book a Demo</a>
        </div>
      </div>
      <div class="ultimate__content">
        <div class="ultimate__car splide simpleCarousell">
          <div class="splide__track">
            <ul class="ultimate__list splide__list">
              <li class="ultimate__item active splide__slide">
                <h3>Managing</h3>
                <img src="./img/content/ultimate_1.png" alt="" />
                <div></div>
              </li>
              <li class="ultimate__item splide__slide">
                <h3>Mass Payouts</h3>
                <img src="./img/content/ultimate_1.png" alt="" />
                <div></div>
              </li>
              <li class="ultimate__item splide__slide">
                <h3>Reporting</h3>
                <img src="./img/content/ultimate_1.png" alt="" />
                <div></div>
              </li>
              <li class="ultimate__item splide__slide">
                <h3>Settlement</h3>
                <img src="./img/content/ultimate_1.png" alt="" />
                <div></div>
              </li>
              <li class="ultimate__item splide__slide">
                <h3>Autoconversion</h3>
                <img src="./img/content/ultimate_1.png" alt="" />
                <div></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .main,
  body,
  html {
    overflow: unset !important;
  }
</style>
