<section id="solutions" class="section__complate topel">
    <div class="container">
        <div class="section__titlecont left">
            <div class="uppertitle">
                Enhanced security infrastructure
            </div>
            <h2>
                Institutional-Grade <br>Protection
            </h2>
        </div>
        <div class="complate__content">
            <ul class="complate__list">
                <li>
                    <h4>Vault Security</h4>
                    <p>
                        Secure all crypto assets within a secured vault, safeguarded by Fireblocks and a multi-step approval process on Overchain, our cryptocurrency payment gateway. Crypto funds cannot be stolen or hacked in the vault, as multiple approvals are required for access and movement
                    </p>
                </li>
                <li>
                    <h4>Transaction Security</h4>
                    <p>
                        Identify high-risk addresses and seamlessly mitigate compliance risks. Overchain screens all crypto transactions in real-time with Chainalysis and transaction monitoring rules integrated within SumSub
                    </p>
                </li>
                <li>
                    <h4>Enhanced Authentication</h4>
                    <p>
                        Prevent unauthorised access with two-factor authentication and leverage our multi-layer approval functionality according to the 'Four Eyes Principle'
                    </p>
                </li>
                <li>
                    <h4>Fraud Prevention</h4>
                    <p>
                        Advanced Anti-Money Laundering (AML) and Transaction Monitoring protocols and tools to proactively detect and prevent fraud
                    </p>
                </li>
            </ul>
            <a href="#contact" class="button full complate__button ankor">Book a Demo</a>
            <div class="complate__decor">
                <img src="/img/decor/complate__decor.png" class="contain" alt="">
            </div>
        </div>
        <!-- sp =  n * 6;  sp2 = sp / 2 -->
        <style>
            .complete__main > div {
              animation: animate 14s -14s linear infinite;
            }
            .complete__main > div:nth-child(2) {
              animation: animate2 14s -7s linear infinite;
            }
          </style>
        <div class="complete__main">
            <div class="complate__bottom flex">
                <img src="./img/icons/complt_1.svg" alt="">
                <img src="./img/icons/complt_2.svg" alt="">
                <img src="./img/icons/complt_3.svg" alt="">
            </div>
            <div class="complate__bottom flex">
                <img src="./img/icons/complt_1.svg" alt="">
                <img src="./img/icons/complt_2.svg" alt="">
                <img src="./img/icons/complt_3.svg" alt="">
            </div>
        </div>
    </div>
</section>