 <section class="section__expand">
    <div class="container">
        <div class="expand__content">
            <h3>
                Expand Your Payment Options
            </h3>
            <div class="expand__text">
                <p>
                    Overchain is a premier cryptocurrency payment processor that enables businesses to accept, send, and exchange a wide range of cryptocurrencies. Effortlessly withdraw, pay, and settle in both crypto and fiat currencies while streamlining your financial operations through an intuitive all-in-one platform.
                </p>
            </div>
            <a href="#" class="expand__brn button full">Book a Demo</a>
        </div>
        <div class="expand__decor">
            <img src="/img/decor/expand_dec.png" class="contain" alt="">
        </div>
    </div>
 </section>