<section class="section__expert">
    <div class="container">
        <div class="expert__container">
            <div class="expert__content">
                <h2>
                    Opt for Comprehensive Payment Processing. <br>Talk to Our Experts Today!
                </h2>
                <a href="#contact" class="button full expert__button ankor">
                    Book a  demo
                </a>
            </div>
        </div>
    </div>
    <div class="expert__bg">
        <img src="./img/content/expertimg.jpg" class="cover" alt="">
    </div>
</section>