<section class="fast__section topel white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Fast Settlements</h2>
    </div>
    <div class="fast__car splide">
      <div class="splide__track">
        <ul class="fast__list splide__list">
          <li class="fast__item splide__slide">
            <div class="fast__cont">
              <h4>Direct Bank Deposits</h4>
              <p>
                Easily deposit funds directly into your bank account in your
                preferred currency, including USD, EUR, GBP, and more, through
                our platform.
              </p>
            </div>
            <img src="/img/content/fast_1.png" class="fast__img img1" alt="" />
          </li>
          <li class="fast__item splide__slide">
            <div class="fast__cont">
              <h4>Diverse Currency Range</h4>
              <p>
                Collect and convert between all major crypto and fiat currencies
                with a few clicks.
              </p>
            </div>
            <img src="/img/content/fast_2.png" class="fast__img img2" alt="" />
          </li>
          <li class="fast__item splide__slide">
            <div class="fast__cont">
              <h4>Automated Settlements</h4>
              <p>
                Process settlements in crypto or fiat currency from within the
                platform or via the API connection.
              </p>
            </div>
            <img src="/img/content/fast_3.png" class="fast__img img3" alt="" />
          </li>
          <li class="fast__item splide__slide">
            <div class="fast__cont">
              <h4>24/7 Support</h4>
              <p>
                Contact our dedicated support team 7 days a week for assistance
                and questions about our settlement process.
              </p>
            </div>
            <img src="/img/content/fast_4.png" class="fast__img img4" alt="" />
          </li>
        </ul>
      </div>
    </div>
    <div class="fast__bottom flex centerH">
      <a href="#contact" class="button full black fast__button ankor">
        Book a Demo
      </a>
    </div>
  </div>
</section>
