<section class="section__instant topel">
    <div class="container">
        <div class="section__titlecont">
            <h2>
                Pay Anyone, <br>Instantly, Your Way
            </h2>
            <p>
                Send individual or bulk crypto payments from Overchain to maximise the flexibility of your business operations.
            </p>
        </div>
        <ul class="instant__list">
            <li class="instant__item">
                <img src="/img/content/instant_1.png" class="instant__img img1" alt="">
                <div class="instant__cont">
                    <h3>Payouts System</h3>
                    <p>
                        Process withdrawals or refunds to clients via the Overchain platform or automate the process using our API. Utilise existing crypto balances or auto-convert from your fiat reserves.
                    </p>
                </div>
            </li>
            <li class="instant__item">
                <img src="/img/content/instant_2.png" class="instant__img img2" alt="">
                <div class="instant__cont">
                    <h3>Mass Payments</h3>
                    <p>
                        Facilitate mass payments to employees, vendors, partners, and affiliates via CSV upload. Enhance operational efficiency with the unparalleled speed and ease of Overchain.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>