<section class="section__maein">
  <img src="./img/backgrounds/main_bg.jpg" alt="" class="cover">
  <div class="container">
    <div class="main__top flex">
      <div class="main__upper">Ultimate Payment system</div>
      <h1>
        Accept, Send & Manage Crypto Payments like a Pro
      </h1>
      <a href="#contact" class="button full main__button ankor">
        Book a Demo
      </a>
    </div>
    <ul class="main__list">
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>USD, EUR, GBP <br />Settlements</span>
            <img src="/img/icons/main_1.svg" alt="" />
          </div>
          <div class="back">
            <span
              >Same-day settlements in USD, EUR, GBP, and other fiat
              currencies</span
            >
            <img src="/img/icons/main_1.svg" alt="" />
          </div>
        </div>
      </li>
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>No hidden margins in Crypto exchanges rates</span>
            <img src="/img/icons/main_2.svg" alt="" />
          </div>
          <div class="back">
            <span>No hidden margins in Crypto exchanges rates</span>
            <img src="/img/icons/main_2.svg" alt="" />
          </div>
        </div>
      </li>
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>Crypto <br />Autoconversion</span>
            <img src="/img/icons/main_3.svg" alt="" />
          </div>
          <div class="back">
            <span>Automatically convert crypto payments to fiat</span>
            <img src="/img/icons/main_3.svg" alt="" />
          </div>
        </div>
      </li>
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>Fast Checkout</span>
            <img src="/img/icons/main_4.svg" alt="" />
          </div>
          <div class="back">
            <span>Complete client checkout in 15 seconds</span>
            <img src="/img/icons/main_4.svg" alt="" />
          </div>
        </div>
      </li>
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>Lowest Fee</span>
            <img src="/img/icons/main_5.svg" alt="" />
          </div>
          <div class="back">
            <span>From 0,2% — the lowest fee on the market, based on industry,
              volume, and other factors</span>
            <img src="/img/icons/main_5.svg" alt="" />
          </div>
        </div>
      </li>
      <li class="main__item flex">
        <div class="main__iteminner">
          <div class="front">
            <span>Pay in Crypto Using Fiat</span>
            <img src="/img/icons/main_6.svg" alt="" />
          </div>
          <div class="back">
            <span>Pay in crypto with funds from your fiat balances </span>
            <img src="/img/icons/main_6.svg" alt="" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
