<section id="benefits" class="section__manage white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Manage, Control, Report <br />Within a Single Platform</h2>
    </div>
    <ul class="manage__list">
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_1.svg" class="contain" alt="" />
        </div>
        <h4>Balance Reporting</h4>
        <p>
          Track your assets over time and receive detailed reports on current
          and historical daily balances.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_2.svg" class="contain" alt="" />
        </div>
        <h4>Auto Conversion</h4>
        <p>
          Facilitate effortless risk management with automatic conversion of
          inbound cryptocurrency payments.
        </p>
      </li>

      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_5.svg" class="contain" alt="" />
        </div>
        <h4>Transaction Reporting</h4>
        <p>
          Monitor & manage financial activities with detailed transaction
          reports, which can be filtered and exported for further analysis.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_6.svg" class="contain" alt="" />
        </div>
        <h4>New Crypto Support</h4>
        <p>New cryptocurrencies can be added as the need arises.</p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_12.svg" class="contain" alt="" />
        </div>
        <h4>Multi-access</h4>
        <p>
          Create multiple user profiles for enhanced organisation and
          collaboration.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_9.svg" class="contain" alt="" />
        </div>
        <h4>Seamless Exchange</h4>
        <p>Easily exchange all connected crypto and fiat currencies</p>
      </li>
    </ul>
  </div>
</section>
