<section style="height: 300vh" class="section__accept topel white">
  <div class="accept__container">
    <div class="container">
      <div class="accept__car splide">
        <div class="splide__track">
          <ul class="accept__list splide__list">
            <li class="accept__item dec1 splide__slide">
              <div class="accept__content">
                <h2>Accept and Manage </h2>
                <div class="accept__desc">
                  <p>
                    Process payments in USDT, ETH, BNB, BTC, LTC, MATIC, XRP,
                    and other popular cryptocurrencies. Payments are facilitated
                    on Ethereum, Tron, and Polygon networks, either manually or
                    through API. Businesses can request the addition of any
                    currency upon request.
                  </p>
                </div>
                <a href="#" class="button full">Request</a>
              </div>
              <div class="accept__right coins">
                <ul>
                  <li>
                    <img src="./img/icons/coin_1.svg" alt="" />
                  </li>
                  <li>
                    <img src="./img/icons/coin_2.svg" alt="" />
                  </li>
                  <li>
                    <img src="./img/icons/coin_3.svg" alt="" />
                  </li>
                  <li>
                    <img src="./img/icons/coin_4.svg" alt="" />
                  </li>
                  <li>
                    <img src="./img/icons/coin_5.svg" alt="" />
                    <span><img src="./img/icons/coin_6.svg" alt="" /></span>
                  </li>
                  <li>
                    <img src="./img/icons/coin_5.svg" alt="" />
                    <span><img src="./img/icons/coin_4.svg" alt="" /></span>
                  </li>
                  <li>
                    <img src="./img/icons/coin_5.svg" alt="" />
                    <span><img src="./img/icons/coin_2.svg" alt="" /></span>
                  </li>
                </ul>
                <div class="coins__bottom">
                  <p>USDT, ETH & other crypto</p>
                  <span>*Add Any Coin</span>
                </div>
              </div>
            </li>
            <li class="accept__item dec2 splide__slide">
              <div class="accept__content">
                <h2>Auto-Convert</h2>
                <div class="accept__desc sm">
                  <p>
                    Convert crypto payments to USD, EUR, GBP, or other preferred
                    fiat currency automatically.
                  </p>
                </div>
                <a href="#" class="button full">Request</a>
              </div>
              <div class="accept__right fiat">
                <img src="./img/decor/eccess__img.png" alt="" />
                <img class="mob" src="./img/decor/eccess__imgmob.png" alt="" />
                <span>*Add Any Fiat</span>
              </div>
            </li>
            <li class="accept__item dec3 splide__slide">
              <div class="accept__content">
                <h2>Settlement</h2>
                <div class="accept__desc sm">
                  <p>
                    Receive fiat currencies directly to your bank account on the
                    same day in your preferred currency.
                  </p>
                </div>
              </div>
              <div class="accept__right grow">
                <img
                  src="./img/decor/access_grow.png"
                  alt=""
                  class="img__dec"
                />
                <div class="grow__grid">
                  <div class="grow__coll">
                    <div class="grow__cale grow1">
                      <div class="grow__left">
                        <h3>Grows</h3>
                        <span>Lorem ipsum dolor sit</span>
                      </div>
                      <div class="grow__sircle">
                        80%
                        <img
                          src="./img/decor/grow_sircle.svg"
                          alt=""
                          class="contain"
                        />
                      </div>
                    </div>
                    <div class="grow__cale grow2">
                      <span></span>
                      <p>124 000,45</p>
                    </div>
                  </div>
                  <div class="grow__coll">
                    <div class="grow__cale grow3">
                      <h3>Stats</h3>
                      <ul>
                        <li>
                          <span>USD</span>
                          <span>+124 000,45</span>
                        </li>
                        <li>
                          <span>EUR</span>
                          <span>+124 000,45</span>
                        </li>
                        <li>
                          <span>EUR</span>
                          <span>+124 000,45</span>
                        </li>
                        <li>
                          <span>USD</span>
                          <span>+124 000,45</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  .main,
  body,
  html {
    overflow: unset !important;
  }
</style>