<section class="section__chose topel white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Why Choose Our <br />Crypto Payment Gateway</h2>
    </div>
    <ul class="chose__list">
      <li class="chose__item div1">
        <div class="chose__inner">
          <div class="num">15</div>
          <div class="txt">
            <p>available cryptocurrencies with more options on request</p>
          </div>
        </div>
        <img src="./img/decor/choose_1.png" alt="" class="chose__img" />
      </li>
      <li class="chose__item div2">
        <div class="chose__inner">
          <div class="num">24/7</div>
          <div class="txt">
            <p>support is always available to <br>assist you</p>
          </div>
        </div>
        <img src="./img/decor/choose_2.png" alt="" class="chose__img" />
      </li>
      <li class="chose__item div3">
        <div class="chose__inner">
          <div class="num">0</div>
          <div class="txt">
            <p>set-up or monthly fees</p>
          </div>
        </div>
      </li>
      <li class="chose__item div4">
        <div class="chose__inner">
          <div class="num">35</div>
          <div class="txt">
            <p>local fiat currencies, such as GBP, USD, EUR, and more</p>
          </div>
        </div>
        <img src="./img/decor/choose_3.png" alt="" class="chose__img" />
      </li>
      <li class="chose__item div5">
        <div class="chose__inner">
          <div class="num">30</div>
          <div class="txt">
            <p>seconds <br />for transactions</p>
          </div>
        </div>
        <img src="./img/decor/choose_4.png" alt="" class="chose__img" />
      </li>
      <li class="chose__item div6">
        <div class="chose__inner">
          <div class="num">6+</div>
          <div class="txt">
            <p>payment options and plugins</p>
          </div>
        </div>
      </li>
      <li class="chose__item div7">
        <div class="chose__inner">
          <div class="num">7+</div>
          <div class="txt">
            <p>years of experience in crypto and payments industry</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
