<section class="section__complate payComplete">
    <div class="container">
        <div class="section__titlecont left">
            <h2>
                Guaranteed Crypto <br>Processing Safety
            </h2>
        </div>
        <div class="complate__content">
            <ul class="complate__list">
                <li>
                    <h4>Access Protection</h4>
                    <p>
                        2FA and dual approval measures prevent unauthorised access.
                    </p>
                </li>
                <li>
                    <h4>Transaction Monitoring</h4>
                    <p>
                        Real-time screening with Chainalysis detects and eliminates risks.
                    </p>
                </li>
                <li>
                    <h4>Fund Safeguarding</h4>
                    <p>
                        Crypto funds are protected by Fireblocks and a multi-step approval process.
                    </p>
                </li>
                <li>
                    <h4>Anti-Fraud Measures</h4>
                    <p>
                        Advanced Anti-Money Laundering (AML) protocols detect and prevent fraud.
                    </p>
                </li>
            </ul>
            <div class="complate__decor">
                <img src="/img/decor/comp_pay.png" class="contain" alt="">
            </div>
        </div>
    </div>
</section>