<section class="section__convers white">
  <div class="container">
    <div class="section__titlecont">
      <div class="uppertitle">Accept Crypto Payments</div>
      <h2>High Conversion Rates <br />Multiple Acquiring Solutions</h2>
      <p>
        Use a variety of tools relevant to your business model, needs, and
        industry for accepting crypto with our comprehensive set of crypto
        payment solutions. Simplify crypto payments, cut costs, and get more
        clients with Over Chain.
      </p>
    </div>
    <ul class="convers__list">
      <li class="convers__item convers1 opened">
        <div class="convers__inner">
          <div class="convers__content">
            <div class="convers__imform">
              <h3>Payment Links</h3>
              <div class="convers__desc">
                <p>
                  Embed a widget to your platform or website to receive payments
                  via your website, app, or POS system. It ensures fast and
                  secure transactions for your customers.
                </p>
              </div>
              <ul class="convers__infogr">
                <li>
                  <span>15 minute exchange <br />rate locks</span>
                </li>
                <li>
                  <span>10+ cryptocurrencies across different networks</span>
                </li>
                <li>
                  <span>Unique wallet addresses for each transaction</span>
                </li>
              </ul>
            </div>
            <a href="#product" class="more__btn ankor">Learn More</a>
          </div>
          <img src="./img/content/convers_1.png" alt="" class="convers__img" />
        </div>
      </li>
      <li class="convers__item convers2">
        <div class="convers__inner">
          <div class="convers__content">
            <div class="convers__imform">
              <h3>Invoices</h3>
              <div class="convers__desc">
                <p>
                  Accept crypto payments directly from clients using digital
                  invoices. Effortlessly generate digital invoices by choosing a
                  customer from your dashboard, setting the payment amount, and
                  invoicing the client in less than a minute.
                </p>
                <p>
                  Receive settlements in your preferred fiat or crypto with no
                  exchange rate fluctuation.
                </p>
              </div>
            </div>
            <a href="#product" class="more__btn ankor">Learn More</a>
          </div>
          <img src="./img/content/convers_2.png" alt="" class="convers__img" />
        </div>
      </li>
      <li class="convers__item convers3">
        <div class="convers__inner">
          <div class="convers__content">
            <div class="convers__imform">
              <h3>Payment Links</h3>
              <div class="convers__desc">
                <p>
                  Effortlessly create and share payment links, enabling online
                  transactions without the need for a dedicated website.
                  Distribute these links directly to your customers to request
                  payments, providing a secure and convenient tool for them to
                  complete their transactions. Keep track of payments and link
                  performance with detailed reports.
                </p>
              </div>
            </div>
            <a href="#product" class="more__btn ankor">Learn More</a>
          </div>
          <img src="./img/content/convers_3.png" alt="" class="convers__img" />
        </div>
      </li>
      <li class="convers__item convers4">
        <div class="convers__inner">
          <div class="convers__content">
            <div class="convers__imform">
              <h3>Development API</h3>
              <div class="convers__desc">
                <p>
                  Need an adaptable payment page and easy feature integration?
                  Simply connect Over Chain's crypto payment gateway to any
                  platform with our no-cost, user-friendly API integration.
                </p>
              </div>
            </div>
            <a href="#product" class="more__btn ankor">Learn More</a>
          </div>
          <img src="./img/content/convers_4.png" alt="" class="convers__img" />
        </div>
      </li>
    </ul>
  </div>
</section>
