<section class="section__faq white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Frequently asked questions</h2>
      <ul class="faq__list">
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              How to accept crypto payments?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Integrate Overchain into your business system to start accepting
                crypto payments effortlessly. Our platform offers tools such as
                payment widgets, links, and APIs to facilitate seamless crypto
                transactions. Book a demo and one of our account managers will
                show you our ultimate payment system, answer all your questions,
                and provide a personalised offer to start accepting multiple
                cryptocurrencies with instant global transactions, reduced fees,
                and robust security.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              What are the benefits of accepting crypto payments?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Accepting crypto with Overchain offers many advantages,
                including lower transaction fees, faster payments, and access to
                a global customer base. Our reliable gateway helps businesses
                cut costs by up to 80%, ensures secure transactions, and
                provides tools for managing all aspects of crypto processing
                from acceptance to seamless payouts, settlements, and
                withdrawals. Reach out to us to learn more about the Overchain’s
                benefits.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
                Which coins are supported by Overchain?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Overchain supports all major cryptocurrencies, including USDT, ETH, BNB, BTC, LTC, MATIC, and XRP. Businesses can also request additional options to be added. Our support for various cryptocurrencies ensures that clients can cater to a diverse customer base and stay ahead in the market. To request more coin options, simply contact us.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
                Is Overchain a secure crypto payment gateway?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Absolutely, Overchain is a highly secure crypto payment gateway.
                Our advanced security measures include multi-factor
                authentication (2FA), Fireblocks for asset safeguarding, and
                Chainalysis for real-time transaction monitoring. Additionally,
                we employ a multi-step approval process to protect all data and
                transactions from cyber threats. Reach out to us for more
                detailed information on our security protocols.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              What businesses accept crypto payments?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Many medium and enterprise-level businesses, including Forex &
                CFD brokers, online casinos, yachting, iGaming, and e-commerce
                accept crypto payments. These industries use Overchain's
                customised solutions to attract a global clientele and benefit
                from fast, secure transactions. The versatility and growing
                popularity of cryptocurrencies makes them an excellent choice
                for optimising payment methods for high-value businesses.
                Contact us to start accepting crypto payments today!
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              What is KYB in cryptocurrency payment processors?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                KYB (Know Your Business) is a verification process used by
                cryptocurrency payment gateways to ensure businesses comply with
                regulatory standards. It involves verifying the business’s
                identity, ownership, and operations to maintain a secure and
                compliant payment environment. With KYB, Overchain ensures
                businesses adhere to global regulations, maintaining full
                compliance and security. Contact us to learn more about our KYB
                process and how it benefits your business.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              How can I integrate cryptocurrency payments?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Integrating cryptocurrency payments with Overchain is simple and
                free of charge. Our platform provides comprehensive API
                documentation, payment widgets, and other tools for managing
                payments, from acceptance to payouts and withdrawals. Contact us
                to start integrating crypto payments into your business system
                today. A personal manager will guide you through the integration
                process to ensure a smooth setup.
              </p>
            </div>
          </div>
        </li>
        <li class="faq__item ac">
          <div class="ac-header">
            <button type="button" class="ac-trigger">
              Is it legal to accept crypto payments?
            </button>
          </div>
          <div class="ac-panel">
            <div class="ac-text">
              <p>
                Absolutely, businesses can legally accept cryptocurrency
                payments through our crypto payment gateway. Overchain is fully
                licensed in the EU, guaranteeing a secure and dependable payment
                ecosystem. However, local legal requirements vary by
                jurisdiction, and new regulations and rules are constantly
                emerging. Our expert team supports businesses in navigating
                these regional requirements to ensure full compliance. Schedule
                a call with one of our experts to receive a customised solution
                and integrate crypto payments while adhering to all legal
                considerations.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
