<section class="section__paymain">
  <div class="container">
    <div class="paymain__container flex">
      <div class="paymain__content">
        <div class="uppertitle">Accept Crypto Payments</div>
        <h1>Empowering <br />Your Business <br />To Accept Crypto</h1>
        <div class="paymain__desc">
          <p>
            Choose an advanced and reliable crypto payment gateway that drives
            business growth, cuts transaction costs by up to 80%, opens new
            markets, and enables fast, secure crypto transactions.
          </p>
        </div>
        <a href="#" class="button full">Talk to an Expert</a>
      </div>
      <div class="paymain__circle">
        <div class="paymain__bg ctr"></div>
        <div class="paymain__circle ctr sircle2"></div>
        <div class="paymain__circle ctr sircle3 flex centerF">
          <img src="./img/icons/paymain.svg" alt="" />
        </div>
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="dot dot5"></div>
        <div class="dot dot6"></div>
        <div class="dot dot7"></div>
        <div class="dot dot8"></div>
        <div class="textblc txb1">Forex & CFD Brokers</div>
        <div class="textblc txb2">Ecommerce</div>
        <div class="textblc txb3">Real Estate</div>
        <div class="textblc txb4">iGaming</div>
        <div class="textblc txb5">Retail</div>
        <div class="textblc txb6">Online Casinos</div>
        <div class="textblc txb7">Yahting</div>
        <div class="textblc txb8">Aviation</div>
      </div>
    </div>
    <ul class="paymain__info">
      <li>Free <br>Set Up</li>
      <li>99%+ <br>Acceptance Rate</li>
      <li>Global <br>Coverage</li>
      <li>Fast <br>Processing</li>
      <li>Licensed <br>Provider</li>
    </ul>
  </div>
</section>
