<section class="section__security">
  <div class="container">
    <ul class="security__list">
      <li class="security__item">
        <h3>Security</h3>
        <ul class="security__coll">
          <li class="security__part">
            <div class="security__icon">
              <img src="./img/icons/security_1.svg" alt="" class="contain" />
            </div>
            <h4>100% Reliable</h4>
            <p>
              Our robust security system, featuring Fireblocks, Chainalysis,
              2FA, and a multi-step approval process defends all data and
              transactions from compromised tokens, cyber threats, fraud, or
              unauthorised access.
            </p>
          </li>
          <li class="security__part">
            <div class="security__icon">
              <img src="./img/icons/security_2.svg" alt="" class="contain" />
            </div>
            <h4>Borderless Reach</h4>
            <p>
              Overchain offers tools and support to help businesses navigate
              regional compliance requirements and open new markets. Сrypto
              payments are widely adopted and reach a market cap in the
              trillions of USD, businesses can securely accept them to boost
              global operations.
            </p>
          </li>
        </ul>
      </li>
      <li class="security__item">
        <h3>Regulation</h3>
        <ul class="security__coll">
          <li class="security__part">
            <div class="security__icon">
              <img src="./img/icons/security_3.svg" alt="" class="contain" />
            </div>
            <h4>EU-licenced company</h4>
            <p>
              Overchain is a Lithuania-licensed crypto payment gateway that
              ensures adherence to the EU regulatory standards, providing
              businesses with the tools to comply with AML (Anti-Money
              Laundering) and KYC (Know Your Customer) requirements.
            </p>
          </li>
          <li class="security__part">
            <div class="security__icon">
              <img src="./img/icons/security_4.svg" alt="" class="contain" />
            </div>
            <h4>Compliance Support</h4>
            <p>
              Overchain helps businesses understand and implement the necessary
              legal regulatory compliance measures to maintain secure and lawful
              operations.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
