<section class="section__solution topel">
    <div class="container">
        <div class="section__titlecont">
            <h2>The All-in-One Crypto Payment Solution</h2>
        </div>
        <ul class="solution__list">
            <li class="solution__item">
                <h4>Accept Crypto</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Send</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Settle</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Swap</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Payouts</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Manage</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
            <li class="solution__item">
                <h4>Control & Report</h4>
                <div class="sliution__img">
                    <img src="./img/content/solution_1.png" alt="" class="contain">
                </div>
            </li>
        </ul>
    </div>
</section>