<section class="section__starting">
  <div class="container">
    <div class="section__titlecont">
      <h2>Start Accepting Crypto <br />Payments</h2>
    </div>
    <ul class="starting__list">
      <li class="starting__item">
        <div class="num">01</div>
        <div class="name">Request a Demo</div>
        <div class="desc">
          <p>
            Book a personalised demo with Overchain. Our manager will showcase
            our top-tier payment system, answer your questions, and provide a
            tailored proposal.
          </p>
        </div>
      </li>
      <li class="starting__item">
        <div class="num">02</div>
        <div class="name">Pass Verification</div>
        <div class="desc">
          <p>
            We’ll send you an onboarding link so you can verify your account through the KYC/KYB processes to start accepting crypto while complying with all required regulations.
          </p>
        </div>
      </li>
      <li class="starting__item">
        <div class="num">03</div>
        <div class="name">Integrate with Ease</div>
        <div class="desc">
          <p>
            Use our free API to automatically generate a deposit address, or create one manually. Your personal account manager will guide you through the integration process to ensure a smooth setup.
          </p>
        </div>
      </li>
      <li class="starting__item">
        <div class="num">04</div>
        <div class="name">Start Accepting Crypto Payments</div>
        <div class="desc">
          <p>
            Benefit from accepting multiple cryptocurrencies worldwide with instant global transactions, reduced fees, and robust security.
          </p>
        </div>
      </li>
    </ul>
    <div class="starting__bottom flex">
        <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
