<section class="section__contact white">
  <div class="container">
    <ul class="breadcrumbs">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <span>Contacts</span>
      </li>
    </ul>
    <div class="section__titlecont">
      <h2>Contacts</h2>
    </div>
    <div class="contact__cont">
      <div class="contact__desc">
        Lorem ipsum dolor sit amet consectetur. Donec <br>in nisl nulla nulla
        feugiat sagittis sit lorem.
      </div>
      <ul class="contact__list">
        <li class="contact__item">
          <div class="cont__ttl">Email</div>
          <ul>
            <li>
              <a class="mail" href="mailto:Overchain@info.com">Overchain@info.com</a>
            </li>
          </ul>
        </li>
        <li class="contact__item">
          <div class="cont__ttl">Address</div>
          <ul>
            <li>
              <span class="address">London, 777 Canal Street, Alizaport 58342</span>
            </li>
            <li>
              <span class="address">London, 777 Canal Street, Alizaport 58342</span>
            </li>
          </ul>
        </li>
        <li class="contact__item">
          <div class="cont__ttl">Soocial media</div>
          <ul class="socials">
            <li>
              <a href="#" target="_blank">
                <img src="./img/icons/contsoc_1.svg" alt="" class="contain">
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="./img/icons/contsoc_2.svg" alt="" class="contain">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="contact__bg">
    <img src="./img/backgrounds/contact_bg.png" alt="">
  </div>
</section>
