<section class="author__section topel">
  <div class="container">
    <div class="author__content flex">
      <div class="author__photo">
        <img src="./img/content/author.jpg" alt="" class="cover" />
      </div>
      <div class="author__info">
        <div class="uppertitle">Author</div>
        <h2>Author Name</h2>
        <div class="author__desc">
          <p>
            Often Data Science teams spend days building models only to have the
            Ops team tell them >the solution is infeasible. This situation is a
            lose-lose for both teams, and can be a cause of much frustration.
            lose-lose for both teams, and can be a cause of much frustration.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
