<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>All In: Seamless <br />Payment Solutions</h2>
    </div>
    <ul class="double__list hovering">
      <li class="double__item">
        <h3>Eliminating Banking Delays</h3>
        <div class="double__desc">
          <p>
            Say goodbye to slow settlements and complex banking processes with our seamless crypto payment solutions, designed to keep your transactions fast and efficient.
          </p>
        </div>
        <img src="./img/content/double_7.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Reducing Deposit Errors</h3>
        <div class="double__desc">
          <p>
            Say goodbye to slow settlements and complex banking processes with our seamless crypto payment solutions, designed to keep your transactions fast and efficient.
          </p>
        </div>
        <img src="./img/content/double_8.png" alt="" />
      </li>
      <li class="double__item">
        <h3>High Transaction Volumes with Ease</h3>
        <div class="double__desc">
          <p>
            Say goodbye to slow settlements and complex banking processes with our seamless crypto payment solutions, designed to keep your transactions fast and efficient.
          </p>
        </div>
        <img src="./img/content/double_9.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Breaking Down Barriers in Emerging Markets</h3>
        <div class="double__desc">
          <p>
            Say goodbye to slow settlements and complex banking processes with our seamless crypto payment solutions, designed to keep your transactions fast and efficient.
          </p>
        </div>
        <img src="./img/content/double_10.png" alt="" />
      </li>
    </ul>
  </div>
</section>
