<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>Expand Your iGaming Business with Crypto Payments</h2>
    </div>
    <ul class="double__list">
      <li class="double__item">
        <h3>Global Acceptance</h3>
        <div class="double__desc">
          <p>
            CFD brokers can effortlessly process crypto payments from traders globally.
          </p>
        </div>
        <img src="./img/content/double_11.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Instant Processing</h3>
        <div class="double__desc">
          <p>
            Platform balances are instantly updated upon receipt of payment, ensuring a seamless trading experience.
          </p>
        </div>
        <img src="./img/content/double_12.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Zero Administrative Costs</h3>
        <div class="double__desc">
          <p>
            Automated deposits and withdrawals reduce manual work and admin costs for your CFD trading business.
          </p>
        </div>
        <img src="./img/content/double_13.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Regulatory Compliance</h3>
        <div class="double__desc">
          <p>
            Our detailed and robust reporting tools ensure your business remains compliant with global financial regulations.
          </p>
        </div>
        <img src="./img/content/double_14.png" alt="" />
      </li>
    </ul>
  </div>
</section>
