<section class="section__expert fullBg">
  <div class="container">
    <div class="expert__container">
      <div class="expert__content longer">
        <h2>
          Ready to Elevate Your iGaming Payment Solutions?
        </h2>
        <div class="expert__desc">
          <p>
            Schedule Your Free Consultation Today
          </p>
        </div>
        <a href="#contact" class="button full expert__button ankor">
          Book a Demo
        </a>
      </div>
    </div>
  </div>
  <div class="expert__bg">
    <img src="./img/backgrounds/expert_5.jpg" class="cover" alt="" />
    <img src="./img/backgrounds/expert_5mob.jpg" class="cover mob" alt="" />
  </div>
</section>
