<section class="section__starting">
  <div class="container">
    <div class="section__titlecont">
      <h2>How It Works</h2>
    </div>
    <div class="starting__car simplePager splide">
      <div class="splide__track">
        <ul class="starting__list biggerPads splide__list">
          <li class="starting__item splide__slide">
            <div class="num">01</div>
            <div class="name">Book a Call</div>
            <div class="desc">
              <p>
                Schedule a consultation, and our experts will help you get started.
              </p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">02</div>
            <div class="name">Connect Your Business</div>
            <div class="desc">
              <p>Easily integrate Overchain with your existing payment systems.</p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">03</div>
            <div class="name">Accept Crypto Payments</div>
            <div class="desc">
              <p>
                Begin receiving payments in various cryptocurrencies effortlessly.
              </p>
            </div>
          </li>
          <li class="starting__item splide__slide">
            <div class="num">04</div>
            <div class="name">Auto-Convert Funds</div>
            <div class="desc">
              <p>
                Benefit from automatic currency conversion, eliminating the hassle
                of manual wallet management.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
