<section id="benefits" class="section__manage decoration">
  <div class="container">
    <div class="section__titlecont">
      <h2>Simplify Crypto Management and Reporting with Overchain</h2>
    </div>
    <ul class="manage__list smaller duble">
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_7.svg" class="contain" alt="" />
        </div>
        <h4>Multi-access</h4>
        <p>
          Make your collaboration and management more efficient with secure multiple user profiles.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_1.svg" class="contain" alt="" />
        </div>
        <h4>Balance Reporting</h4>
        <p>
          Unlock financial insights with historical and real-time tracking of assets and balances.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/manage_15.svg" class="contain" alt="" />
        </div>
        <h4>Transaction Reporting</h4>
        <p>
          Leverage our filtered, exportable transaction reports to keep track of your finances with utmost precision.
        </p>
      </li>
      <li class="manage__item">
        <div class="manage__icon">
          <img src="/img/icons/main_3.svg" class="contain" alt="" />
        </div>
        <h4>Seamless Exchange</h4>
        <p>
          Use Overchain to effortlessly swap or exchange both fiat and cryptocurrencies.
        </p>
      </li>
    </ul>
    <div class="starting__bottom flex">
      <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
