<section id="industries" class="section__challenge topel white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Reliable Crypto Payment Partner for a Diverse Range of Industries</h2>
    </div>
    <div class="chalange__car splide">
      <div class="splide__track">
        <ul class="challenge__list splide__list">
          <li class="challenge__item coll_2 splide__slide">
            <img src="/img/content/chall_5.png" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Yachting</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_2 splide__slide">
            <img src="/img/content/chall_4.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Real Estate</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_3 splide__slide">
            <img src="/img/content/chall_9.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">E-commerce</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_3 splide__slide">
            <img src="/img/content/chall_2.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">Forex</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
          <li class="challenge__item coll_3 splide__slide">
            <img src="/img/content/chall_1.jpg" class="cover" alt="" />
            <div class="challenge__link">
              <span class="challenge__name">iGaming</span>
              <span class="challenge__arrow"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
