<section id="solutions" class="section__complate">
  <div class="container">
    <div class="section__titlecont left">
      <div class="uppertitle">Already Integrated With another PSP?</div>
      <h2>Benefit from Overchain’s <br />Exclusive Features</h2>
    </div>
    <div class="complate__content">
      <ul class="complate__list">
        <li>
          <h4>Stable & Scalable Tech</h4>
          <p>
            Overchain is a reliable, stable technology solution for handling
            large transaction volumes. With 99% uptime, our Forex payment
            gateway ensures all payments are processed on time and as requested
          </p>
        </li>
        <li>
          <h4>Advanced Security</h4>
          <p>
            All your transactions and data are protected from any fraud, cyber
            threats, unauthorised access, and unclean tokens with our
            state-of-the-art security and protocols
          </p>
        </li>
        <li>
          <h4>24/7 Customer Support</h4>
          <p>
            With us, you won't be waiting hours for a reply. Reach out to our
            support team directly, and get help within minutes.
          </p>
        </li>
        <li>
          <h4>Fiat Settlement</h4>
          <p>
            Overchain offers lightning-fast payment processing services, so you
            can transfer funds to your bank accounts on the same day in all
            major currencies, including USD, EUR, GBP, and more
          </p>
        </li>
      </ul>
      <a href="#contact" class="button full complate__button ankor"
        >Book a Demo</a
      >
      <div class="complate__decor solution">
        <img src="/img/content/compsol_1.png" class="contain" alt="" />
      </div>
    </div>
  </div>
</section>
