<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>Level Up Your <br />Forex Brokerage</h2>
    </div>
    <div class="double__car splide simplePager">
      <div class="splide__track">
        <ul class="double__list type2 double__list">
          <li class="double__item splide__slide">
            <h3>Worldwide Payments</h3>
            <p>
              Forex brokers can accept crypto payments from traders globally.
            </p>
            <img src="./img/content/double_3.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>Fast Processing</h3>
            <p>
              Balances are updated within 30 seconds after a payment is made,
              enabling seamless cross-border deposits.
            </p>
            <img src="./img/content/double_4.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>No Administrative Costs</h3>
            <p>
              Automated deposit and withdrawal processing eliminatesthe need for
              administrative and labour expenses.
            </p>
            <img src="./img/content/double_5.png" alt="" />
          </li>
          <li class="double__item splide__slide">
            <h3>Convenient Reporting</h3>
            <p>
              Our advanced reporting system ensures Forex Brokers stay compliant
              with global financial regulators.
            </p>
            <img src="./img/content/double_6.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
