<section class="double__section">
  <div class="container">
    <div class="section__titlecont">
      <h2>
        All-in-One Crypto Processing <br />System Tailored to Forex Brokers
      </h2>
    </div>
    <ul class="double__list">
      <li class="double__item">
        <h3>Auto-convert to fiat with fixed exchange rates for 15 minutes.</h3>
        <img src="./img/content/double_1.png" alt="" />
      </li>
      <li class="double__item">
        <h3>Same-day Settlements <br>in USD, EUR, GBP and more</h3>
        <img src="./img/content/double_2.png" alt="" />
      </li>
    </ul>
  </div>
</section>
