<section class="section__features topel">
  <div class="container">
    <div class="features__content">
      <div class="features__left">
        <h2>Key Features</h2>
        <ul class="features__list">
          <li>
            <h3>Robust Security</h3>
            <p>
              Benefit from gold-standard security measures, including Fireblocks
              and compliance with KYC, AML, and KYT standards, ensuring your
              transactions are safe.
            </p>
          </li>
          <li>
            <h3>Low Transaction Fees</h3>
            <p>
              Enjoy competitive rates that significantly reduce your overall
              costs, allowing you to maximize profits.
            </p>
          </li>
          <li>
            <h3>Escrow Services Available</h3>
            <p>
              Facilitate secure transactions with our integrated escrow
              solutions, giving you and your clients peace of mind.
            </p>
          </li>
          <li>
            <h3>Global Reach</h3>
            <p>
              Accept payments from clients around the world, eliminating
              barriers associated with cross-border transactions.
            </p>
          </li>
        </ul>
      </div>
      <img src="./img/backgrounds/features.jpg" alt="" class="features__image">
    </div>
  </div>
</section>
