<section class="section__first">
  <div class="container">
    <div class="first__content">
      <h1>Crypto Payment Gateway for Forex Brokers</h1>
      <div class="first__desc">
        <p>
          Increase your brokerage's market share and attract new customers by
          accepting crypto with our advanced and secure Forex payment gateway.
          Leverage Overchain to meet the growing demand in emerging markets,
          where traditional payment processing methods are inefficient or
          unsustainable.
        </p>
      </div>
      <a href="#" class="button full">
        Book a Demo
      </a>
    </div>
  </div>
  <div class="sircle__fs"></div>
  <img src="./img/content/firstsol_1.png" alt="" class="cover">
</section>
