<section class="section__mediatext topel">
  <div class="container">
    <div class="mediatext__cont">
      <div class="mediatext__left">
        <h2>Looking for Aviation Providers Who Accept Crypto?</h2>
        <div class="mediatext__desc">
          <p>
            At Overchain, we connect you with top-tier aviation companies that
            accept crypto payments. Whether you’re purchasing private jets,
            helicopters, and aviation fuel, managing aircraft, or booking
            charters, our network of trusted providers ensures seamless and
            secure transactions in your preferred cryptocurrency. Enjoy the
            convenience of paying for jet cards, memberships, cargo flights, and
            medical evacuation services. Elevate your travel experience with the
            flexibility and efficiency of crypto payments through Overchain.
          </p>
        </div>
        <a href="#" class="button full">Book a Call</a>
      </div>
      <div class="mediatext__image">
        <img src="./img/content/mediatext.jpg" alt="" class="cover">
      </div>
    </div>
  </div>
</section>
