<section class="section__options">
  <div class="container">
    <div class="section__titlecont">
      <h2>Rental Options</h2>
    </div>
    <div class="options__car simplePager splide">
      <div class="splide__track">
        <ul class="options__list splide__list">
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_24.svg" alt="" class="contain" />
            </div>
            <h3>Private Jet Charters</h3>
            <p>
              Offer your clients the option to pay with cryptocurrencies for
              their personal or business travel arrangements.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_25.svg" alt="" class="contain" />
            </div>
            <h3>Group Charters</h3>
            <p>
              Enable organisations or groups to book charters for events, tours,
              or conferences using cryptocurrencies.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_26.svg" alt="" class="contain" />
            </div>
            <h3>Cargo Flights</h3>
            <p>
              Allow your corporate clients to utilise cryptocurrencies for the payment of goods transportation.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_27.svg" alt="" class="contain" />
            </div>
            <h3>Medical Evacuation</h3>
            <p>
              Facilitate immediate cryptocurrency payments for urgent medical evacuation flights.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
