<section class="section__options decoration">
  <div class="container">
    <div class="section__titlecont">
      <h2>Purchase Options</h2>
    </div>
    <div class="options__car simplePager splide">
      <div class="splide__track">
        <ul class="options__list splide__list">
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_20.svg" alt="" class="contain" />
            </div>
            <h3>Purchasing <br />Aircrafts</h3>
            <p>
              Provide your clients with the option to purchase private jets,
              helicopters, or other aircraft using cryptocurrencies.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_21.svg" alt="" class="contain" />
            </div>
            <h3>Aircraft <br />Management Services</h3>
            <p>
              Offer the ability to pay for aircraft management services,
              including maintenance, crew management, and operational support,
              with cryptocurrencies.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_23.svg" alt="" class="contain" />
            </div>
            <h3>Jet Cards <br />and Memberships</h3>
            <p>
              Allow your clients to acquire jet cards or memberships using
              cryptocurrencies, granting pre-paid flight hours or exclusive
              services.
            </p>
          </li>
          <li class="options__item splide__slide">
            <div class="options__icon">
              <img src="./img/icons/manage_22.svg" alt="" class="contain" />
            </div>
            <h3>Aviation Fuel <br />and Supplies</h3>
            <p>
              Enable clients to purchase aviation fuel, spare parts, and other
              supplies with cryptocurrencies, streamlining transactions and
              avoiding currency exchange complications.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
