<section class="section__partlists topel">
  <div class="container">
    <ul class="partlists__list">
      <li class="partlist__item">
        <h3>Hassle-free <br />Crypto Withdrawals</h3>
        <div class="partlist__cont">
          <ul>
            <li>Send crypto back to clients instantly</li>
            <li>Auto-convert fiat balances to process crypto withdrawals</li>
            <li>Fast manual withdrawals</li>
            <li>Auto-withdrawals via API</li>
          </ul>
        </div>
      </li>
      <li class="partlist__item">
        <h3>Trouble-free <br>Settlement in Fiat & Crypto</h3>
        <div class="partlist__cont bigger">
          <ul>
            <li class="isImg"><img src="./img/icons/partlist_1.svg" alt=""> Access to Fiat Currencies <p>Send and receive US dollars, euro, pound and other currencies on the same day</p></li>
            <li class="isImg"><img src="./img/icons/partlist_2.svg" alt=""> Global Banking Partners <p>Our panel of banks and e-money institutions (EMIs) facilitate fast and smooth fiat transactions</p></li>
            <li class="isImg"><img src="./img/icons/partlist_3.svg" alt=""> Same-Day Settlement <p>Receive fiat money in your bank account on the same day</p></li>
            <li class="isImg"><img src="./img/icons/partlist_4.svg" alt=""> Crypto Settlement <p>Send crypto balances to your wallets across the broad range of supported networks</p></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="partlist__bottom">
        <a href="#" class="button full">Book a Demo</a>
    </div>
  </div>
</section>
