<section class="section__reporting white">
  <div class="container">
    <div class="section__titlecont">
      <h2>Efficiently Accept Crypto <br />Payments for Your Aviation Needs</h2>
    </div>
    <div class="reporting__car simplePager splide">
      <div class="splide__track">
        <ul class="reporting__list biiger splide__list">
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_36.svg" alt="" class="contain" />
            </div>
            <h3>Global Acceptance</h3>
            <p>
              Private aviation businesses can seamlessly process crypto payments
              from high-net-worth clients, expanding their market reach and catering
              to an international clientele.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_37.svg" alt="" class="contain" />
            </div>
            <h3>Instant Processing</h3>
            <p>
              Balances on our platform are updated instantly upon receipt of
              payment, ensuring a smooth and efficient transaction process, crucial
              for time-sensitive aviation operations.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_38.svg" alt="" class="contain" />
            </div>
            <h3>24/7 <br />Client Support</h3>
            <p>
              Access dedicated support anytime via cell, Telegram, Slack, WhatsApp,
              or other available channels. Our team is always ready to assist,
              ensuring uninterrupted service for your clients.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_39.svg" alt="" class="contain" />
            </div>
            <h3>Regulatory Compliance</h3>
            <p>
              As an EU-licensed crypto payment gateway, Overchain helps private
              aviation businesses comply with AML and KYC standards, ensuring secure
              and legal operations.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_40.svg" alt="" class="contain" />
            </div>
            <h3>Best Fees <br />on the Market</h3>
            <p>
              Overchain offers highly competitive transparent fees. Benefit from
              cost-effective payment processing with a flexible pricing structure
              with no hidden costs.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_41.svg" alt="" class="contain" />
            </div>
            <h3>Advanced Security</h3>
            <p>
              With Fireblocks, Chainalysis, 2FA, and multi-step approval, our
              security system safeguards all data and transactions from cyber
              threats, ensuring secure payments and maintaining client trust.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
