<section class="section__reporting decoration">
  <div class="container">
    <div class="section__titlecont">
      <h2>Advanced Management and Reporting for CFD Trading Platforms</h2>
    </div>
    <div class="reporting__car simplePager splide">
      <div class="splide__track">
        <ul class="reporting__list splide__list">
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_31.svg" alt="" class="contain" />
            </div>
            <div class="trporting__smtxt">Account Management</div>
            <h3>Multiaccess</h3>
            <p>
              Enhance financial operations with secure multi-user profiles,
              granting specific access and flexible permissions. Manage payment
              processes efficiently, whether it's for charter coordinators,
              finance officers, or client service managers.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_32.svg" alt="" class="contain" />
            </div>
            <div class="trporting__smtxt">Asset Accounting</div>
            <h3>Balance Analytics</h3>
            <p>
              Make informed decisions with real-time and historical data on your
              assets, balances, and transactions. Keep track of every financial
              detail to ensure smooth operations for your aviation services.
            </p>
          </li>
          <li class="reporting__item coll_2 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_33.svg" alt="" class="contain" />
            </div>
            <div class="trporting__smtxt">Asset Reporting</div>
            <h3>Transaction Reporting</h3>
            <p>
              Maintain a clear and comprehensive overview of your finances.
              Utilise convenient filtering and detailed reporting to easily
              manage your revenue streams, client payments, and operational
              costs, ensuring transparency and accuracy in all transactions.
            </p>
          </li>
          <li class="reporting__item coll_3 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_34.svg" alt="" class="contain" />
            </div>
            <div class="trporting__smtxt">Asset Management</div>
            <h3>Instant Exchange</h3>
            <p>
              Simplify currency management with the ability to exchange fiat and
              cryptocurrencies via the Overchain dashboard. This feature is
              perfect for handling international payments and expenses without
              delays or currency exchange hassles.
            </p>
          </li>
          <li class="reporting__item coll_3 splide__slide">
            <div class="reporting__img">
              <img src="./img/icons/manage_35.svg" alt="" class="contain" />
            </div>
            <div class="trporting__smtxt">Asset Management</div>
            <h3>Auto Conversion</h3>
            <p>
              Enhance your cross-currency transactions with automatic conversion
              of any cryptocurrencies to any fiat currencies. This facilitates
              seamless international transactions, allowing you to cater to a
              global clientele with ease and efficiency.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
